<ion-view view-title="Classifiche">
    <ion-content ng-init="initClassifiche()" class="view--classifiche">
        <section ng-if="vm.loadingOk == true">
            <div class="card card--classifiche">
                <h2 class="card-title">Giornata</h2>
                <div class="item row" ng-repeat="squadra in vm.squadreSettimanale track by $index"
                 ng-if="::vm.squadreSettimanale.length != 1">
                    <div class="col">
                        <span class="text-primary">{{::squadra.posizione}} -</span> {{::squadra.nome_squadra}}
                    </div>
                    <div class="col col-10 text-primary">
                        {{::squadra.punti | number : 1}}
                    </div>
                </div>
                <div class="item" ng-if="vm.squadreSettimanale.length == 1">
                    {{::vm.squadreSettimanale[0].msg_utente}}
                </div>
            </div>
            <div class="card card--classifiche">
                <h2 class="card-title">Torneo estivo</h2>
                <div class="item row" ng-repeat="squadra in vm.squadreTorneoEstivo track by $index" 
                ng-if="vm.squadreTorneoEstivo.length != 1">
                    <div class="col">
                        <span class="text-primary">{{::squadra.posizione}} -</span> {{::squadra.nome_squadra}}
                    </div>
                    <div class="col col-10 text-primary">
                        {{::squadra.punti | number : 1}}
                    </div>
                </div>
                <div class="item" ng-if="vm.squadreTorneoEstivo.length == 1">
                    {{::vm.squadreTorneoEstivo[0].msg_utente}}
                </div>
            </div>
            <div class="card card--classifiche">
                <h2 class="card-title">Torneo andata</h2>
                <div class="item row" ng-repeat="squadra in vm.squadreTorneoAndata track by $index" 
                ng-if="vm.squadreTorneoAndata.length != 1">
                    <div class="col">
                        <span class="text-primary">{{::squadra.posizione}} -</span> {{::squadra.nome_squadra}}
                    </div>
                    <div class="col col-10 text-primary">
                        {{::squadra.punti | number : 1}}
                    </div>
                </div>
                <div class="item" ng-if="vm.squadreTorneoAndata.length == 1">
                    {{::vm.squadreTorneoAndata[0].msg_utente}}
                </div>
            </div>
            <div class="card card--classifiche">
                <h2 class="card-title">Torneo Ritorno</h2>
                <div class="item item-text-wrap" ng-repeat="squadra in vm.squadreTorneoRitorno track by $index" 
                ng-if="vm.squadreTorneoRitorno.length != 1">
                    <div class="col">
                        <span class="text-primary">{{::squadra.posizione}} -</span> {{::squadra.nome_squadra}}
                    </div>
                    <div class="col col-10 text-primary">
                        {{::squadra.punti | number : 1}}
                    </div>
                </div>
                <div class="item" ng-if="vm.squadreTorneoRitorno.length == 1">
                    {{::vm.squadreTorneoRitorno[0].msg_utente}}
                </div>
            </div>
        </section>
        <section ng-if="vm.loadingOk == false">
            <div class="card card--message">
                <h2 class="card-title">Classifica</h2>
                <div class="card-content">{{::vm.errorMessage}}</div>
            </div>
        </section>
    </ion-content>
</ion-view>
