<ion-view view-title="N° {{vm.numeroGiornata}} DEL {{vm.dataGiornata}}">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-android-walk" ng-click="popoverPanchina.show($event)"
                    ng-if="vm.squadraSelected.difensoriRosa.length > 0">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-init="initDettaglioGiornataGironi()" class="formazione formazione-giornata">
        <div class="row">
            <div class="col col-33 text-left">
                <a class="button button--formazione-nome-left" ng-if="vm.squadra1.difensoriRosa.length > 0"
                    ng-click="setSquadraSelected(1)" ng-class="{active: vm.squadra2.nome == vm.squadraSelected.nome}">
                    {{vm.squadra1.nome}}
                </a>
            </div>
            <div class="col col-34" ng-if="vm.squadraSelected.hasFormazione == true"
                ng-repeat="portiere in vm.squadraSelected.portieriRosa track by $index">
                <a class="icon icon--portiere" ng-click="goToDettaglioTabellino(portiere)">
                    {{firstLetter(portiere.nome)+portiere.cognome}}</br>
                    {{portiere.stats[2].mv}}
                </a>
            </div>
            <div class="col col-33 text-right">
                <a class="button button--formazione-nome-right" ng-if="vm.squadra2.difensoriRosa.length > 0"
                    ng-click="setSquadraSelected(2)" ng-class="{active: vm.squadra1.nome == vm.squadraSelected.nome}">
                    {{vm.squadra2.nome}}
                </a>
            </div>
        </div>
        <div class="text-center" ng-if="vm.squadraSelected.hasFormazione == false">
            <span>Nessuna formazione schierata per questa squadra</span>
        </div>
        <div ng-if="vm.squadraSelected.hasFormazione == true">
            <div class="row">
                <div class="col" ng-repeat="difensore in vm.squadraSelected.difensoriRosa track by $index">
                    <a class="icon icon--difensore" ng-click="goToDettaglioTabellino(difensore)">
                        {{firstLetter(difensore.nome) + difensore.cognome}}</br>
                        {{difensore.stats[2].mv}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col" ng-repeat="centrocampista in vm.squadraSelected.centrocampistiRosa track by $index">
                    <a class="icon icon--centrocampista" ng-click="goToDettaglioTabellino(centrocampista)">
                        {{firstLetter(centrocampista.nome) + centrocampista.cognome}}</br>
                        {{centrocampista.stats[2].mv}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col" ng-repeat="attaccante in vm.squadraSelected.attaccantiRosa track by $index">
                    <a class="icon icon--attaccante" ng-click="goToDettaglioTabellino(attaccante)">
                        {{firstLetter(attaccante.nome) + attaccante.cognome}}</br>
                        {{attaccante.stats[2].mv}}
                    </a>
                </div>
            </div>
            <div class="row" ng-if="misterCalcioCup">
                <div class="col" ng-repeat="allenatore in vm.squadraSelected.allenatoriRosa track by $index">
                    <a class="icon icon--allenatore" ng-click="goToDettaglioTabellino(allenatore)">
                        {{firstLetter(allenatore.nome) + allenatore.cognome}}</br>
                        {{allenatore.stats[2].mv}}
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="popoverPanchina.html" type="text/ng-template">
    <ion-popover-view class="popover--panchina panchina-dettaglio">
        <div class="list">
            <div class="item icon--portiere" ng-repeat="portiere in vm.squadraSelected.portieriRosaPanchina track by $index"
                ng-click="goToDettaglioTabellino(portiere) || popoverPanchina.hide()">
                <span>{{portiere.stats[2].mv}}</span>
                {{firstLetter(portiere.nome) + portiere.cognome}}
            </div>
            <div class="item icon--difensore" ng-repeat="difensore in vm.squadraSelected.difensoriRosaPanchina track by $index"
                ng-click="goToDettaglioTabellino(difensore) || popoverPanchina.hide()">
                <span>{{difensore.stats[2].mv}}</span>
                {{firstLetter(difensore.nome) + difensore.cognome}}
            </div>
            <div class="item icon--centrocampista" ng-repeat="centrocampista in vm.squadraSelected.centrocampistiRosaPanchina track by $index"
                ng-click="goToDettaglioTabellino(centrocampista) || popoverPanchina.hide()">
                <span>{{centrocampista.stats[2].mv}}</span>
                {{firstLetter(centrocampista.nome) + centrocampista.cognome}}
            </div>
            <div class="item icon--attaccante" ng-repeat="attaccante in vm.squadraSelected.attaccantiRosaPanchina track by $index"
                ng-click="goToDettaglioTabellino(attaccante) || popoverPanchina.hide()">
                <span>{{attaccante.stats[2].mv}}</span>
                {{firstLetter(attaccante.nome) + attaccante.cognome}}
            </div>
            <div class="item icon--allenatore" ng-repeat="allenatore in vm.squadraSelected.allenatoriRosaPanchina track by $index"
                ng-click="goToDettaglioTabellino(allenatore) || popoverPanchina.hide()">
                <span>{{allenatore.stats[2].mv}}</span>
                {{firstLetter(allenatore.nome) + allenatore.cognome}}
            </div>
        </div>
    </ion-popover-view>
</script>
