<ion-view view-title="Gestione Rosa" class="view--rosa">

	<ion-nav-bar class="bar-stable">
	  <ion-nav-back-button>
	  </ion-nav-back-button>

	  <ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	  </ion-nav-buttons>

	  <ion-nav-buttons side="right">
		<button class="button button--save-right" ng-click="confermaRosa()" ng-if="vm.bloccoRosa == false">
		</button>
	  </ion-nav-buttons>

	</ion-nav-bar>

	<ion-content delegate-handle="contentScroll">
		<div class="card card--rosa-riepilogo">
			<h2 class="card-title">Riepilogo</h2>
			<div class="card-content" >
				<ul>
					<li>Giocatori in rosa: <span>{{vm.totaleRosa}}</span></li>
					<li>Costo: <span>{{vm.totaleCosto}}</span></li>
					<li>Saldo: <span>{{vm.saldo}}</span></li>
				</ul>
			</div>
		</div>

		<div class="list">
			<div class="card" id="P">
				<div class="item item-stable row"
						ng-click="openRosa('P')"
						ng-class="{active: vm.rosaShown == 'P'}">
					<i class="icon" ng-class="vm.rosaShown == 'P' ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
					<span class="col"><span class="text-primary">{{vm.portieriLength}}</span> PORTIERI</span>
					<i class="icon" ng-class="vm.portieriLength == 3 ? 'icon--portiere' : 'icon--portiere-vuoto'"></i>
				</div>
				<div class="item item-accordion" style="font-size: smaller;"
						ng-repeat="giocatore in vm.portieriRosa track by $index"
						ng-show="vm.rosaShown == 'P'">
					<div class="row item--rosa-giocatore" ng-if="giocatore.COGNOME">
						<div class="col col-66">
							<div>
								<span class="text-secondary">{{giocatore.COGNOME + ' ' + firstLetter(giocatore.NOME)}}</span> - {{giocatore.SQUADRA}}
							</div>
							<div>
								COSTO: <span class="text-secondary">{{giocatore.COSTO_ACQUISTO}}</span>
								VALORE: <span class="text-secondary">{{giocatore.VALORE_ATTUALE}}</span>
							</div>
						</div>
						<div class="col text-right" ng-click="vendiGiocatore(giocatore)">
							<button class="button button--vendi button--vendi" ng-if="::vm.bloccoRosa == false" ng-hide="giocatore.IN_FORMAZIONE">Vendi</button>
						</div>
					</div>
					<div class="row item--rosa-aggiungi" ng-if="!giocatore.COGNOME" ng-click="aggiungiGiocatore(0, $index)">
						<div class="col col-66">Aggiungi giocatore...</div>
						<div class="col text-right">
							<button class="button button--next" ng-if="::vm.bloccoRosa == false"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="card" id="D">
				<div class="item item-stable row"
						ng-click="openRosa('D')"
						ng-class="{active: vm.rosaShown == 'D'}">
					<i class="icon" ng-class="vm.rosaShown == 'D' ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
					<span class="col"><span class="text-primary">{{vm.difensoriLength}}</span> DIFENSORI</span>
					<i class="icon" ng-class="vm.difensoriLength == 8 ? 'icon--difensore' : 'icon--difensore-vuoto'"></i>
				</div>
				<div class="item item-accordion" style="font-size: smaller;"
						ng-repeat="giocatore in vm.difensoriRosa track by $index"
						ng-show="vm.rosaShown == 'D'">
					<div class="row item--rosa-giocatore" ng-if="giocatore.COGNOME">
						<div class="col col-66">
							<div>
								<span class="text-secondary">{{giocatore.COGNOME+' '+firstLetter(giocatore.NOME)}}</span> - {{giocatore.SQUADRA}}
							</div>
							<div>
								COSTO: <span class="text-secondary">{{giocatore.COSTO_ACQUISTO}}</span>
								VALORE: <span class="text-secondary">{{giocatore.VALORE_ATTUALE}}</span>
							</div>
						</div>
						<div class="col">
							<div class="col text-right" ng-click="vendiGiocatore(giocatore)">
								<button class="button button--vendi" ng-if="::vm.bloccoRosa == false" ng-hide="giocatore.IN_FORMAZIONE">Vendi</button>
							</div>
						</div>
					</div>
					<div class="row" ng-if="!giocatore.COGNOME" ng-click="aggiungiGiocatore(1, $index)">
						<div class="col col-66">Aggiungi giocatore...</div>
						<div class="col text-right">
							<button class="button button--next" ng-if="::vm.bloccoRosa == false"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="card" id="C">
				<div class="item item-stable row"
						ng-click="openRosa('C')"
						ng-class="{active: vm.rosaShown == 'C'}">
					<i class="icon" ng-class="vm.rosaShown == 'C' ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
					<span class="col"><span class="text-primary">{{vm.centrocampistiLength}}</span> CENTROCAMPISTI</span>
					<i class="icon" ng-class="vm.centrocampistiLength == 8 ? 'icon--centrocampista' : 'icon--centrocampista-vuoto'"></i>
				</div>
				<div class="item item-accordion" style="font-size: smaller;"
						ng-repeat="giocatore in vm.centrocampistiRosa track by $index"
						ng-show="vm.rosaShown == 'C'">
					<div class="row item--rosa-giocatore" ng-if="giocatore.COGNOME">
						<div class="col col-66">
							<div>
								<span class="text-secondary">{{giocatore.COGNOME + ' ' + firstLetter(giocatore.NOME)}}</span> - {{giocatore.SQUADRA}}
							</div>
							<div>
								COSTO: <span class="text-secondary">{{giocatore.COSTO_ACQUISTO}}</span>
								VALORE: <span class="text-secondary">{{giocatore.VALORE_ATTUALE}}</span>
							</div>
						</div>
						<div class="col">
							<div class="col text-right" ng-click="vendiGiocatore(giocatore)">
								<button class="button button--vendi" ng-if="::vm.bloccoRosa == false" ng-hide="giocatore.IN_FORMAZIONE">Vendi</button>
							</div>
						</div>
					</div>
					<div class="row" ng-if="!giocatore.COGNOME" ng-click="aggiungiGiocatore(2, $index)">
						<div class="col col-66">Aggiungi giocatore...</div>
						<div class="col text-right">
							<button class="button button--next" ng-if="::vm.bloccoRosa == false"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="card" id="A">
			  <div class="item item-stable row"
						ng-click="openRosa('A')"
						ng-class="{active: vm.rosaShown == 'A'}">
			  		<i class="icon" ng-class="vm.rosaShown == 'A' ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
					<span class="col"><span class="text-primary">{{vm.attaccantiLength}}</span> ATTACCANTI</span>
					<i class="icon" ng-class="vm.attaccantiLength == 6 ? 'icon--attaccante' : 'icon--attaccante-vuoto'"></i>
			  	</div>
			  	<div class="item item-accordion" style="font-size: smaller;"
						ng-repeat="giocatore in vm.attaccantiRosa track by $index"
						ng-show="vm.rosaShown == 'A'">
					<div class="row item--rosa-giocatore" ng-if="giocatore.COGNOME">
						<div class="col col-66">
							<div>
								<span class="text-secondary">{{giocatore.COGNOME+' '+firstLetter(giocatore.NOME)}}</span> - {{giocatore.SQUADRA}}
							</div>
							<div>
								COSTO: <span class="text-secondary">{{giocatore.COSTO_ACQUISTO}}</span>
								VALORE: <span class="text-secondary">{{giocatore.VALORE_ATTUALE}}</span>
							</div>
						</div>
						<div class="col">
							<div class="col text-right" ng-click="vendiGiocatore(giocatore)">
								<button class="button button--vendi" ng-if="::vm.bloccoRosa == false" ng-hide="giocatore.IN_FORMAZIONE">Vendi</button>
							</div>
						</div>
					</div>
					<div class="row" ng-if="!giocatore.COGNOME" ng-click="aggiungiGiocatore(3, $index)">
						<div class="col col-66">Aggiungi giocatore...</div>
						<div class="col text-right">
							<button class="button button--next" ng-if="::vm.bloccoRosa == false"></button>
						</div>
					</div>
			  	</div>
			</div>
			<div ng-if="misterCalcioCup" id="AL">
				<div class="card">
				  	<div class="item item-stable row"
							ng-click="openRosa('AL')"
							ng-class="{active: vm.rosaShown == 'AL'}">
					  	<i class="icon" ng-class="vm.rosaShown == 'AL' ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
						<span class="col"><span class="text-primary">{{vm.allenatoriLength}}</span> ALLENATORI</span>
						<i class="icon" ng-class="vm.allenatoriLength == 2 ? 'icon--allenatore' : 'icon--allenatore-vuoto'"></i>
				  	</div>
				  	<div class="item item-accordion" style="font-size: smaller;"
							ng-repeat="giocatore in vm.allenatoriRosa track by $index"
							ng-show="vm.rosaShown == 'AL'">
						<div class="row item--rosa-giocatore" ng-if="giocatore.COGNOME">
							<div class="col col-66">
								<div>
									<span class="text-secondary">{{giocatore.COGNOME+' '+firstLetter(giocatore.NOME)}}</span> - {{giocatore.SQUADRA}}
								</div>
								<div>
									COSTO: <span class="text-secondary">{{giocatore.COSTO_ACQUISTO}}</span>
									VALORE: <span class="text-secondary">{{giocatore.VALORE_ATTUALE}}</span>
								</div>
							</div>
							<div class="col">
								<div class="col text-right" ng-click="vendiGiocatore(giocatore)">
									<button class="button button--vendi" ng-if="::vm.bloccoRosa == false" ng-hide="giocatore.IN_FORMAZIONE">Vendi</button>
								</div>
							</div>
						</div>
						<div class="row" ng-if="!giocatore.COGNOME" ng-click="aggiungiGiocatore(4, $index)">
							<div class="col col-66">Aggiungi giocatore...</div>
							<div class="col text-right">
								<button class="button button--next" ng-if="::vm.bloccoRosa == false"></button>
							</div>
						</div>
				  	</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
