<ion-view>
	<ion-nav-bar class="bar-stable">
		<ion-nav-title>
	      	<h1 class="topbar-logo">Home</h1>
	    </ion-nav-title>
	    <ion-nav-buttons side="left">
            <button class="button button--menu" menu-toggle="left"></button>
        </ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="view--home">
  		<div class="card card--formazione" ng-click="squadraSelected.prossima_partita.msg_utente || goToFormazione()">
			<h2 class="card-title">Schiera la formazione</h2>
			<div class="card-content row" >
				<div class="col" ng-if="squadraSelected.prossima_partita.msg_utente">
					{{squadraSelected.prossima_partita.msg_utente}}
				</div>
				<div class="col" ng-if="!squadraSelected.prossima_partita.msg_utente">
					GIORNATA n.{{squadraSelected.prossima_partita.numero}} del {{squadraSelected.prossima_partita.data}}
				</div>
				<div class="col col-10" style="text-align: right;" ng-if="!squadraSelected.prossima_partita.msg_utente">
					<button class="button button--next">
    				</button>
				</div>
			</div>
		</div>
  		<div class="card card--tabellino" ng-click="squadraSelected.ultima_partita.msg_utente || goToDettaglioGiornata()">
		    <h2 class="card-title">Tabellino ultima partita</h2>
			<div class="card-content row">
				<div class="col">
					<div class="row" ng-if="squadraSelected.ultima_partita.msg_utente">
						{{squadraSelected.ultima_partita.msg_utente}}
					</div>
					<div class="row" ng-if="!squadraSelected.ultima_partita.msg_utente">
						<div class="col">
							<span>GIORNATA n.{{squadraSelected.ultima_partita.numero}} del {{squadraSelected.ultima_partita.data}}</span>
							<span ng-if="modoGioco != 3 && squadraSelected.ultima_partita.squadre[0].gol">
								({{squadraSelected.ultima_partita.squadre[0].gol}} - {{squadraSelected.ultima_partita.squadre[1].gol}})
							</span>
							<span ng-if="modoGioco == 3 && squadraSelected.ultima_partita.squadre[0].punti">
								Punti:{{squadraSelected.ultima_partita.squadre[0].punti}}
							</span>
							<span ng-if="modoGioco != 3 && squadraSelected.ultima_partita.squadre[0].punti">
								Punti:{{squadraSelected.ultima_partita.squadre[0].punti}}
							</span>
						</div>
					</div>
				</div>
				<div class="col col-10" style="text-align: right;" ng-if="!squadraSelected.ultima_partita.msg_utente">
					<button class="button button--next"></button>
				</div>
			</div>
		</div>
  		<div class="card card--rosa" ng-click="goToGestioneRosa()">
			<div class="card-content row">
			    <div class="col">Gestisci la tua rosa</div>
			    <div class="col col-10 text-right">
					<button class="button button--next"></button>
				</div>
			</div>
		</div>
  		<div class="card card--rosa" ng-click="goToClassificaGironi()" ng-if="modoGioco!=3">
			<div class="card-content row">
			    <div class="col">Visualizza la classifica</div>
			    <div class="col col-10 text-right">
					<button class="button button--next"></button>
				</div>
			</div>
		</div>
  		<div class="card card--classifica" ng-if="modoGioco == 3">
			<div class="item item-divider">
			    <h2>Classifica</h2>
			</div>
			<div class="table--classifica text-primary">
				<div class="row">
					<div>
						Giornata
					</div>
					<div ng-if="squadraSelected.classifica.settimanale.msg_utente">
						{{squadraSelected.classifica.settimanale.msg_utente}}
					</div>
					<div ng-if="!squadraSelected.classifica.settimanale.msg_utente">
						{{squadraSelected.classifica.settimanale.posizione || 'ND'}}
					</div>
					<div>
						{{squadraSelected.classifica.settimanale.punti || 'ND'}}
					</div>
				</div>
				<div class="row">
					<div>
						Estivo
					</div>
					<div ng-if="squadraSelected.classifica.torneo_estivo.msg_utente">
						{{squadraSelected.classifica.torneo_estivo.msg_utente}}
					</div>
					<div ng-if="!squadraSelected.classifica.torneo_estivo.msg_utente">
						{{squadraSelected.classifica.torneo_estivo.posizione || 'ND'}}
					</div>
					<div>
						{{squadraSelected.classifica.torneo_estivo.punti || 'ND'}}
					</div>
				</div>
				<div class="row">
					<div>
						Andata
					</div>
					<div ng-if="squadraSelected.classifica.torneo_andata.msg_utente">
						{{squadraSelected.classifica.torneo_andata.msg_utente}}
					</div>
					<div ng-if="!squadraSelected.classifica.torneo_andata.msg_utente">
						{{squadraSelected.classifica.torneo_andata.posizione || 'ND'}}
					</div>
					<div>
						{{squadraSelected.classifica.torneo_andata.punti || 'ND'}}
					</div>
				</div>
				<div class="row">
					<div>
						Ritorno
					</div>
					<div ng-if="squadraSelected.classifica.torneo_ritorno.msg_utente">
						{{squadraSelected.classifica.torneo_ritorno.msg_utente}}
					</div>
					<div ng-if="!squadraSelected.classifica.torneo_ritorno.msg_utente">
						{{squadraSelected.classifica.torneo_ritorno.posizione || 'ND'}}
					</div>
					<div>
						{{squadraSelected.classifica.torneo_ritorno.punti || 'ND'}}
					</div>
				</div>
			</div>
		</div>
  </ion-content>


<script id="newsModal.html" type="text/ng-template">
	<ion-modal-view class="modal-news">
		<ion-header-bar>
			<h2 class="title">Notizie</h2>
		</ion-header-bar>
		<ion-content>
			<div class="card card--news" ng-repeat="item in news">
                <h2 class="card-title">{{::item.dsTitle}}</h2>
                <div class="card-content text-primary" ng-bind-html="::item.dsNews"></div>
            </div>
			<div class="text-center">
				<div><ion-checkbox style="display:inline-block" ng-model="hideNews.value" ng-checked="hideNews.value == true">Non mostrare più</ion-checkbox></div>
				<button class="button button--opzioni-squadra" ng-click="closeNewsModal()">Chiudi</button>
			</div>
		</ion-content>
	</ion-modal-view>
</script>

</ion-view>
