<ion-view view-title="Login">
  <ion-header-bar>
    <h1 class="title topbar-logo">Login</h1>
    <div class="buttons-left">
      <button class="button button--back" ng-click="goBack()"></button>
    </div>
  </ion-header-bar>
  <ion-content ng-init="autoLogin()">
    <div class="card card--login">
      <h2 class="card-title">
        {{vm.modoGioco == 3 ? 'TORNEO CLASSICO' : 'TORNEO A GIRONI'}}
      </h2>
      <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate="">
        <input type="text" ng-model="vm.email" placeholder="Email" required>
        <input type="password" ng-model="vm.password" placeholder="Password" required>
        <button class="button button--login" type="submit">Login</button>
      </form>
    </div>
      <button class="button button--facebook-login" ng-click="facebookLogin()">Accedi con Facebook</button>
      <button class="button button--register" ng-click="goRegistrazione()">Registrati</button>
    </div>  
  </ion-content>
</ion-view>
