<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button--menu" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable" ng-click="openAccordion()">
            <img ng-src="http://{{squadraSelected.url_avatar_small}}">
            <h3>{{modoGioco == 3 ? 'Torneo classico' : 'Torneo a gironi'}}</h3>
            <h2>{{squadraSelected.nome}}</h2>
        </ion-header-bar>
        <!-- <ion-content> -->
            <div ng-show="accordionMenu" class="team-select">
                <h2 ng-show="accordionMenu">
                    Torneo classico
                </h2>
                <a class="item item-accordion item item-icon-left" ng-show="accordionMenu" ng-click="goToModificaProfilo(userClassico, 3)" menu-close
                    ng-if="squadreTorneoClassico.length > 0">
                    <i class="icon ion-person"></i>
                    {{userClassico.email}}
                </a>
                <a class="item item-accordion" ng-show="accordionMenu"
                    ng-repeat="squadra in squadreTorneoClassico" ng-click="selectSquadra(squadra, 3)" menu-close>
                    <img ng-src="http://{{squadra.url_avatar_small}}">
                    {{squadra.nome}}
                    <i class="icon icon--coppa" ng-if="squadra.playoff"></i>
                </a>
                <a class="item item-accordion item item-icon-left" ng-show="accordionMenu" ng-if="squadreTorneoClassico.length == 1" ng-click="nuovaSquadra('classico?', 3)" menu-close>
                    <i class="icon icon--nuova-squadra"></i>
                    Aggiungi squadra...
                </a>
                <a class="item item-accordion item item-icon-left" ng-show="accordionMenu" ng-if="squadreTorneoClassico.length == 0" ng-click="accedi(3)">
                    <i class="icon icon--accedi"></i>
                    Accedi
                </a>
                <h2 ng-show="accordionMenu">
                    Torneo a gironi
                </h2>
                <a class="item item-accordion item item-icon-left" ng-show="accordionMenu" ng-click="goToModificaProfilo(userGironi, 1)" menu-close
                    ng-if="squadreTorneoGironi.length > 0">
                    <i class="icon ion-person"></i>
                    {{userGironi.email}}
                </a>
                <a class="item item-accordion" ng-show="accordionMenu"
                    ng-repeat="squadra in squadreTorneoGironi" ng-click="selectSquadra(squadra, 1)" menu-close>
                    <img ng-src="http://{{squadra.url_avatar_small}}">
                    {{squadra.nome}}
                    <i class="icon icon--coppa" ng-if="squadra.playoff"></i>
                </a>
                <a class="item item-accordion" ng-show="accordionMenu" ng-if="squadreTorneoGironi.length == 1" ng-click="nuovaSquadra('a gironi?', 1)" menu-close>
                    <i class="icon icon--nuova-squadra"></i>
                    Aggiungi squadra...
                </a>
                <a class="item item-accordion item item-icon-left" ng-show="accordionMenu" ng-if="squadreTorneoGironi.length == 0" ng-click="accedi(1)">
                    <i class="icon icon--accedi"></i>
                    Accedi
                </a>
                <a class="item item-accordion item item-icon-left" ng-show="accordionMenu" ng-click="logout()">
                    <i class="icon icon--logout"></i>
                    Logout
                </a>
            </div>
            <div class="list">
                <a class="item item--home" menu-close ng-click="goToState('app.home')">
                    Home
                </a>
                <a class="item item--rosa" menu-close ng-click="goToState('app.gestioneRosa')">
                    Rosa
                </a>
                <a class="item item--formazione" menu-close ng-click="goToState('app.formazione')">
                    Formazione
                </a>
                <a class="item item--calendario" menu-close ng-click="goToState('app.calendario')">
                    Calendario
                </a>
                <a class="item item--classifica" menu-close ng-click="goToState('app.classifiche'+(modoGioco==3?'':'Gironi'))">
                    Classifica
                </a>
                <a class="item item--opzioni" menu-close ng-click="goToState('app.opzioniSquadra')">
                    Opzioni squadra
                </a>
                <a class="item item--regolamento" menu-close ng-click="openRegolamento()">
                    Regolamento
                </a>
                <a class="item item--playoff" menu-close ng-click="registraAPlayoff()" 
                    ng-if="squadraSelected.iscrizioni_playoff_aperte && squadraSelected.qualificataPlayoff && squadraSelected.iscrittaPlayoff == false">
                    Iscrivi la squadra ai playoff
                </a>
            </div>
        <!-- </ion-content> -->
    </ion-side-menu>
</ion-side-menus>
