<ion-view view-title="Modifica profilo">
	<ion-header-bar>
		<h1 class="title topbar-logo"></h1>
		<div class="buttons-left">
			<button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-chevron-left"></i></button>
		</div>
	</ion-header-bar>

	<ion-content ng-init="modificaProfiloInit()" class="view--registrazione">
		<form name="formModificaProfilo" ng-submit="formModificaProfilo.$valid && modificaProfilo()" novalidate="">
			<h2>Modifica profilo</h2>
			<label class="item item-input">
				<input type="text" name="nome" placeholder="nome" ng-model="vm.nome" required />
			</label>
			<div class="form-errors"  
			   ng-show="formModificaProfilo.nome.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.nome.$error"
			   ng-messages-include="form-errors.html">
			</div>  
			<label class="item item-input">
				<input type="text" name="cognome" placeholder="cognome" ng-model="vm.cognome" required />
			</label>
			<div class="form-errors"  
			   ng-show="formModificaProfilo.cognome.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.cognome.$error"
			   ng-messages-include="form-errors.html">
			</div>
			<label class="item item-input">
				{{vm.email}}
			</label>
			<!--
			<label class="item item-input">
				<input type="text" name="email" placeholder="email" ng-model="vm.email" required readonly />
			</label>
			-->
			<div class="form-errors"  
			   ng-show="formModificaProfilo.nome.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.nome.$error"
			   ng-messages-include="form-errors.html">
			</div>
            <label class="item item-input">
                <div class="row">
                    <span class="col col-50">data di nascita</span>
                    <span class="col col-50"><input type="date" name="dataNascita" ng-model="vm.dataNascita" eta-minima required /></span>
                </div>
            </label>
			<div class="form-errors"  
			   ng-show="formModificaProfilo.dataNascita.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.dataNascita.$error"
			   ng-messages-include="form-errors.html">
			</div>
			<div class="descrizione">
				Sesso
			</div>
			<div class="list">
			  	<label class="item item-radio">
			    	<input type="radio" name="sesso" value="m" ng-model="vm.sesso" ng-checked="vm.sesso=='m'">
			    	Maschio
			    	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			  	<label class="item item-radio">
			    	<input type="radio" name="sesso" value="f" ng-model="vm.sesso" ng-checked="vm.sesso=='f'">
	      			Femmina
			    	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			</div>
			<div class="descrizione">
				Indirizzo
			</div>
			<label class="item item-input">
				<input type="text" name="indirizzo" placeholder="indirizzo" ng-model="vm.indirizzo" required />
			</label>
			<div class="form-errors"  
			   ng-show="formModificaProfilo.indirizzo.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.indirizzo.$error"
			   ng-messages-include="form-errors.html">
			</div>  
			<label class="item item-input">
				<input type="text" name="citta" placeholder="città" ng-model="vm.citta" required />
			</label>
			<div class="form-errors"  
			   ng-show="formModificaProfilo.citta.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.citta.$error"
			   ng-messages-include="form-errors.html">
			</div>  
			<label class="item item-input">
				<input type="text" name="provincia" placeholder="provincia" ng-model="vm.provincia" required />
			</label>
			<div class="form-errors"  
			   ng-show="formModificaProfilo.provincia.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.provincia.$error"
			   ng-messages-include="form-errors.html">
			</div>  
			<label class="item item-input">
				<input type="text" name="cap" placeholder="cap" ng-model="vm.cap" required />
			</label>
			<div class="form-errors"  
			   ng-show="formModificaProfilo.cap.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.cap.$error"
			   ng-messages-include="form-errors.html">
			</div>  

		  	<div class="item item-toggle">
		  		Ricevi notifica dei risultati via mail
		  		<label class="toggle">
					   <input type="checkbox" name="notificaRisultati" ng-model="vm.notificaRisultati" 
					   ng-true-value="1" ng-false-value="0">
				   	<div class="track">
			     		<div class="handle"></div>
				   	</div>
				</label>
			</div>
			<div class="form-errors"  
			   ng-show="formModificaProfilo.notificaRisultati.$error && formModificaProfilo.$submitted"
			   ng-messages="formModificaProfilo.notificaRisultati.$error"
			   ng-messages-include="form-errors.html">
			</div>
			<div class="descrizione">
				email alternativa per comunicazioni di vincita
			</div>
			<label class="item item-input">
				<input type="text" name="emailAlternativa" placeholder="email" ng-model="vm.emailAlternativa">
			</label>
			<div class="descrizione">
				Indirizzo di spedizione
			</div>
			<label class="item item-input">
				<input type="text" name="indirizzoSpedizione" placeholder="indirizzo spedizione" ng-model="vm.indirizzoSpedizione">
			</label>
			<label class="item item-input">
				<input type="text" name="cittaSpedizione" placeholder="città spedizione" ng-model="vm.cittaSpedizione">
			</label>
			<label class="item item-input">
				<input type="text" name="provinciaSpedizione" placeholder="provincia spedizione" ng-model="vm.provinciaSpedizione">
			</label>
			<label class="item item-input">
				<input type="text" name="capSpedizione" placeholder="cap spedizione" ng-model="vm.capSpedizione">
			</label>
			<div class="descrizione text-center">
		        <button class="button button--generic" type="submit">Modifica profilo</button>
			</div>
		</form>
	</ion-content>
</ion-view>

<script id="form-errors.html" type="text/ng-template">  
  <div class="form-error" ng-message="required">Campo obbligatorio</div>
  <div class="form-error" ng-message="minlength">Valore inserito troppo corto</div>
  <div class="form-error" ng-message="etaMinima">Devi essere maggiorenne</div>
</script>
