<ion-view view-title="Regolamento">
	<ion-content ng-init="regolamentoInit()">
		<div class="card">
			<div class="item item-divider" >
			    <h2>Regolamento</h2>
			</div>
			<div class="row item item-text-wrap" >
				<div class="col">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>