/* iPhone 6 */
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px)
    and (-webkit-min-device-pixel-ratio : 2),
    only screen and (min-device-width : 375px) 
    and (max-device-width : 667px)
    and (min-device-pixel-ratio : 2) {
  body {
    background-image: url('../img/bg_start_750@2x.jpg');
  }
  [nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"], .pane, .view {
    background-image: url('../img/topbar_bg_750@2x.png'), url('../img/bg_start_750@2x.jpg');
  }
  .card {
    max-width: 355px
  }
  ion-view ion-content.scroll-content.ionic-scroll.has-header, .view--rosa-filtri {
    background-image: url('../img/bg_start_750@2x.jpg');
  }
  ion-view ion-content.scroll-content.ionic-scroll.has-header.formazione {
    background-image: url('../img/bg_formazione_750@2x.jpg');
  }
  .item-divider {
    background-image: url('../img/liste_testata1_750@2x.png');
  }
  .splash {
    background-image: url('../img/Default_750@2x.jpg');
  }
  ion-header-bar.bar-stable.bar.bar-header, .bar-header {
    background-image: url('../img/topbar_bg_750@2x.png');
  }
  /*.topbar-logo {
    background-image: url('../img/topbar_logo_750@2x.png');
  }*/
  ion-side-menu.menu.menu-left {
    background-image: url('../img/menu_full_bg_750@2x.jpg');
  }
  .card--login {
    background-image: url('../img/login_boxaccesso_bg_750@2x.png');
    width: auto;
  }
  .card--formazione {
    background-image: url('../img/dashboard_formazione_bg_750@2x.png');
  }
  .card--tabellino {
    background-image: url('../img/dashboard_tabellino_bg_750@2x.png');
  }
  .card--rosa {
    background-image: url('../img/dashboard_rosa_bg_750@2x.png');
  }
  .card--classifica {
    background-image: url('../img/dashboard_classifiche_bg_750@2x.png');
  }
  .popover.popover--panchina {
    background-image: url('../img/formazione_panchina_bg_750@2x.jpg');
  }
  .card--calendario-dettaglio {
    background-image: url('../img/calendario_gironi_row_bg_750@2x.png');
  }
  .card--calendario-riepilogo {
    background-image: url('../img/calendario_gironi_riepilogo_bg_750@2x.png');
  }
  .view--calendario-gironi .item, .scegli-stemma .item {
    background-image: url('../img/calendario_row_bg_750@2x.png');
  }
  .view--calendario-gironi .item.activated,
  .view--calendario-gironi .item:focus,
  .view--calendario-gironi .item:active,
  .scegli-stemma .item.activated,
  .scegli-stemma .item:focus,
  .scegli-stemma .item:active{
    background-image: url('../img/calendario_row_bg_attivo_750@2x.png');
  }
  .view--calendario-gironi .item:first-child, .scegli-stemma .item:first-child {
    background-image: url('../img/calendario_row_first_750@2x.png');
  }
  .view--calendario-gironi .item:last-child, .scegli-stemma .item:last-child {
    background-image: url('../img/calendario_row_last_750@2x.png');
  }
  .opzioni-squadra .card-title, .card--news .card-title, .card--message .card-title {
    background-image: url('../img/liste_testata1_750@2x.png');
  }
  .opzioni-squadra .list, .card--news .card-content, .card--message .card-content {
    background-image: url('../img/rosa_filtri_bg_750@2x.png');
  }
  .card-dettaglio-tabellino-header {
    background-image: url('../img/bg_header_reparto_rosa_750@2x.png');
  }
  .card-dettaglio-tabellino-statistiche .item {
    background-image: url('../img/calendario_row_bg_750@2x.png');
  }
  .card-dettaglio-tabellino-statistiche .item:first-child {
    background-image: url('../img/calendario_row_first_750@2x.png');
  }
  .card-dettaglio-tabellino-statistiche .item:last-child {
    background-image: url('../img/calendario_row_last_750@2x.png');
  }
  .card--rosa-riepilogo {
    background-image: url('../img/rosa_riepilogo_bg_750@2x.png');
  }
  .view--rosa .list .card .item.item-stable, .view--rosa .list .card .item.active {
    background-image: url('../img/bg_header_reparto_rosa_750@2x.png');
  }
  .view--rosa .list .card .item-accordion {
    background-image: url('../img/bg_row_reparto_rosa_top_e_middle_750@2x.png');
  }
  .view--rosa .list .card .item-accordion:focus,
  .view--rosa .list .card .item-accordion:active {
    background-image: url('../img/bg_row_reparto_rosa_top_e_middle_attivo_750@2x.png');
  }
  .view--rosa .list .card .item-accordion:last-child {
    background-image: url('../img/bg_row_reparto_rosa_bottom_750@2x.png');
  }
  .view--rosa .list .card .item-accordion:last-child:focus,
  .view--rosa .list .card .item-accordion:last-child:active {
    background-image: url('../img/bg_row_reparto_rosa_bottom_attivo_750@2x.png');
  }
  .item--rosa-elenco {
    background-image: url('../img/rosa_elenco_row_750@2x.png');
  }
  .view--rosa-filtri .card {
    background-image: url('../img/rosa_filtri_bg_750@2x.png');
  }
  /*.view--rosa-filtri .item--rosa-filtri-destra .item-content{
    background-image: url('../img/rosa_filtri_button_destra_750@2x.png')!important;
  }
  .view--rosa-filtri .item--rosa-filtri-destra  input:checked ~ .item-content{
    background-image: url('../img/rosa_filtri_button_destra_attivo_750@2x.png')!important;
  }
  .view--rosa-filtri .item--rosa-filtri-sinistra .item-content{
    background-image: url('../img/rosa_filtri_button_sinistra_750@2x.png')!important;
  }
  .view--rosa-filtri .item--rosa-filtri-sinistra input:checked ~ .item-content{
    background-image: url('../img/rosa_filtri_button_sinistra_attivo_750@2x.png')!important;
  }*/
  .card--classifiche .card-title{
    background-image: url('../img/classifica_classico_separatore_bg_750@2x.png');
  }
  .card--classifiche .item {
    background-image: url('../img/classifica_classico_row_bg_750@2x.png');
  }
  .card--classifiche .item:last-child {
    background-image: url('../img/classifica_classico_row_bg_last_750@2x.png');
  }
  .card--classifiche-gironi {
    background-image: url('../img/classifica_gironi_row_bg_750@2x.png');
  }


  /* bg active */

  .view--rosa .list .card .item-accordion.activated,
  .view--rosa .list .card .item-accordion:focus,
  .view--rosa .list .card .item-accordion:active {
    background-image: url('../img/bg_row_reparto_rosa_top_e_middle_attivo_750@2x.png');
  }
  .view--rosa .list .card .item-accordion:last-child.activated,
  .view--rosa .list .card .item-accordion:last-child:focus,
  .view--rosa .list .card .item-accordion:last-child:active {
    background-image: url('../img/bg_row_reparto_rosa_bottom_attivo_750@2x.png');
  }
  .view--calendario-gironi .card.activated,
  .view--calendario-gironi .card:focus,
  .view--calendario-gironi .card:active,
  {
    background-image: url('../img/calendario_gironi_row_bg_attivo_750@2x.png');
  }
  .view--calendario-gironi .item.activated,
  .view--calendario-gironi .item:focus,
  .view--calendario-gironi .item:active,
  .scegli-stemma .item.activated,
  .scegli-stemma .item:focus,
  .scegli-stemma .item:active {
    background-image: url('../img/calendario_row_bg_attivo_750@2x.png');
  }
  .view--calendario-gironi .item:first-child.activated,
  .view--calendario-gironi .item:first-child:focus,
  .view--calendario-gironi .item:first-child:active,
  .scegli-stemma .item:first-child.activated,
  .scegli-stemma .item:first-child:focus,
  .scegli-stemma .item:first-child:active {
    background-image: url('../img/calendario_row_first_attivo_750@2x.png');
  }
  .view--calendario-gironi .item:last-child.activated,
  .view--calendario-gironi .item:last-child:focus,
  .view--calendario-gironi .item:last-child:active,
  .scegli-stemma .item:last-child.activated,
  .scegli-stemma .item:last-child:focus,
  .scegli-stemma .item:last-child:active {
    background-image: url('../img/calendario_row_last_attivo_750@2x.png');
  }
  .card--classifica.activated,
  .card--classifica:focus,
  .card--classifica:active {
    background-image: url('../img/dashboard_classifiche_bg_attivo_750@2x.png');
  }
  .card--formazione.activated,
  .card--formazione:focus,
  .card--formazione:active {
    background-image: url('../img/dashboard_formazione_bg_attivo_750@2x.png');
  }
  .card--rosa.activated,
  .card--rosa:focus,
  .card--rosa:active {
    background-image: url('../img/dashboard_rosa_bg_attivo_750@2x.png');
  }
  .card--tabellino.activated,
  .card--tabellino:focus,
  .card--tabellino:active {
    background-image: url('../img/dashboard_tabellino_bg_attivo_750@2x.png');
  }
  .item--rosa-elenco.activated,
  .item--rosa-elenco:focus,
  .item--rosa-elenco:active {
    background-image: url('../img/rosa_elenco_row_attivo_750@2x.png');
  }

  .popover--panchina-scegli-giocatore {
    width: 310px;
  }

  /* MCC */

  /*.mcc .scegli-gioco {
    background-image: url('../img/Default@2x.png');
    padding-top: 300px;
  }*/
  .mcc .icona-gioco {
    width: 306px;
    height: 230px;
  }
  .mcc .button--torneo-classico, .mcc .button--torneo-classico:after, .mcc .button--torneo-a-gironi, .mcc .button--torneo-a-gironi:after {
    width: 153px;
    height: 114px;
  }

  /* preload */
  body:after {
    content: '';
    preload: true;
    position: absolute;
    height: 1px;
    left: 1px;
    left: -10px;
    top: -10px;
    background-image:
        url('../img/bg_start_750@2x.jpg'),
        url('../img/topbar_bg_750@2x.png'),
        url('../img/bg_start_750@2x.jpg'),
        url('../img/liste_testata1_750@2x.png'),
        url('../img/Default_750@2x.jpg'),
        url('../img/topbar_bg@2x.png'),
        url('../img/menu_full_bg_750@2x.jpg'),
        url('../img/login_boxaccesso_bg_750@2x.png'),
        url('../img/dashboard_formazione_bg_750@2x.png'),
        url('../img/dashboard_tabellino_bg_750@2x.png'),
        url('../img/dashboard_rosa_bg_750@2x.png'),
        url('../img/dashboard_classifiche_bg_750@2x.png'),
        url('../img/formazione_panchina_bg_750@2x.jpg'),
        url('../img/calendario_gironi_row_bg_750@2x.png'),
        url('../img/calendario_gironi_riepilogo_bg_750@2x.png'),
        url('../img/calendario_row_bg_750@2x.png'),
        url('../img/calendario_row_bg_attivo_750@2x.png'),
        url('../img/calendario_row_first_750@2x.png'),
        url('../img/calendario_row_last_750@2x.png'),
        url('../img/liste_testata1_750@2x.png'),
        url('../img/rosa_filtri_bg_750@2x.png'),
        url('../img/bg_header_reparto_rosa_750@2x.png'),
        url('../img/calendario_row_bg_750@2x.png'),
        url('../img/calendario_row_first_750@2x.png'),
        url('../img/calendario_row_last_750@2x.png'),
        url('../img/rosa_riepilogo_bg_750@2x.png'),
        url('../img/bg_header_reparto_rosa_750@2x.png'),
        url('../img/bg_row_reparto_rosa_top_e_middle_750@2x.png'),
        url('../img/bg_row_reparto_rosa_top_e_middle_attivo_750@2x.png'),
        url('../img/bg_row_reparto_rosa_bottom_750@2x.png'),
        url('../img/bg_row_reparto_rosa_bottom_attivo_750@2x.png'),
        url('../img/rosa_elenco_row_750@2x.png'),
        url('../img/rosa_filtri_bg_750@2x.png'),
        url('../img/classifica_classico_separatore_bg_750@2x.png'),
        url('../img/classifica_classico_row_bg_750@2x.png'),
        url('../img/classifica_classico_row_bg_last_750@2x.png'),
        url('../img/classifica_gironi_row_bg_750@2x.png'),

        url('../img/bg_row_reparto_rosa_top_e_middle_attivo_750@2x.png'),
        url('../img/bg_row_reparto_rosa_bottom_attivo_750@2x.png'),
        url('../img/calendario_gironi_row_bg_attivo_750@2x.png'),
        url('../img/calendario_row_bg_attivo_750@2x.png'),
        url('../img/calendario_row_first_attivo_750@2x.png'),
        url('../img/calendario_row_last_attivo_750@2x.png'),
        url('../img/dashboard_classifiche_bg_attivo_750@2x.png'),
        url('../img/dashboard_formazione_bg_attivo_750@2x.png'),
        url('../img/dashboard_rosa_bg_attivo_750@2x.png'),
        url('../img/dashboard_tabellino_bg_attivo_750@2x.png'),
        url('../img/rosa_elenco_row_attivo_750@2x.png');
  }


}


