@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
  body {
    background-image: url('../img/bg_start@2x.jpg');
  }
  [nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"], .pane, .view {
    background-image: url('../img/topbar_bg@2x.png'), url('../img/bg_start@2x.jpg');
  }
  ion-view ion-content.scroll-content.ionic-scroll.has-header, .view--rosa-filtri {
    background-image: url('../img/bg_start@2x.jpg');
  }
  ion-view ion-content.scroll-content.ionic-scroll.has-header.formazione {
    background-image: url('../img/bg_formazione@2x.jpg');
  }
  .button.button--generic {    
    background-image: url('../img/login_loginbutton@2x.png');
  }
  .button.button--generic.activated,
  .button.button--generic.active {    
    background-image: url('../img/login_loginbutton_attivo@2x.png');
  }
  .item-divider {
    background-image: url('../img/liste_testata1@2x.png');
  }
  .button--next {
    background-image: url('../img/freccia_disclosure@2x.png');
  }
  .button--vendi {
    background-image: url('../img/button_rosa_vendi@2x.png');
  }
  .splash {
    background-image: url('../img/Default@2x.jpg');
  }
  ion-header-bar.bar-stable.bar.bar-header, .bar-header {
    background-image: url('../img/topbar_bg@2x.png');
  }
  .button--menu, .button.button-icon.ion-navicon {
    background-image: url('../img/topbar_button_menu@2x.png');
  }
  .button--save, .button.button-icon.ion-checkmark, .mcc .button--save-right {
    background-image: url('../img/topbar_button_save@2x.png');
  }
  .button--save-right {
    background-image: url('../img/topbar_button_save_right@2x.png');
  }
  .button--panchina, .button.button-icon.button-clear.ion-android-walk {
    background-image: url('../img/topbar_button_panchina@2x.png');
  }
  .button--back, .button.back-button {
    background-image: url('../img/topbar_button_back@2x.png')!important;
  }
  .button--filtra, .button.button-icon.button-clear.ion-ios-settings-strong {
    background-image: url('../img/topbar_button_filtra@2x.png');
  }
  .button--cancel, .button.button-icon.ion-close {
    background-image: url('../img/topbar_button_cancel@2x.png');
  }
  .button--cancel-right {
    background-image: url('../img/topbar_button_cancel_right@2x.png');
  }
  .topbar-logo {
    background-image: url('../img/topbar_logo@2x.png');
  }
  ion-side-menu.menu.menu-left {
    background-image: url('../img/menu_full_bg@2x.jpg');
  }
  ion-side-menu.menu.menu-left ion-header-bar.bar-stable.bar.bar-header {
    background-image: url('../img/menu_header_bg@2x.jpg');
  }
  ion-side-menu.menu.menu-left ion-header-bar.bar-stable.bar.bar-header::after {
    background-image: url('../img/menu_header_togglearrow_down@2x.png');
  }
  ion-side-menu.menu.menu-left .team-select {
    background-image: url('../img/menu_teamselect_bg@2x.jpg');
  }
  ion-side-menu .item {
    background-image: url('../img/menu_cell_bg@2x.jpg');
  }
  ion-side-menu .team-select .item {
    background-image: url('../img/menu_teamselect_cell_bg@2x.jpg');
  }
  .item--home:before {
    background-image: url('../img/icone/menu_ico_home@2x.png');
  }
  .item--rosa:before {
    background-image: url('../img/icone/menu_ico_rosa@2x.png');
  }
  .item--formazione:before {
    background-image: url('../img/icone/menu_ico_formazione@2x.png');
  }
  .item--calendario:before {
    background-image: url('../img/icone/menu_ico_calendario@2x.png');
  }
  .item--classifica:before {
    background-image: url('../img/icone/menu_ico_classifiche@2x.png');
  }
  .item--opzioni:before {
    background-image: url('../img/icone/menu_ico_opzioni@2x.png');
  }
  .item--regolamento:before {
    background-image: url('../img/icone/menu_ico_regolamento@2x.png');
  }
  .item--playoff:before {
    background-image: url('../img/icone/menu_ico_playoff@2x.png');
  }
  .item--edizione-digitale:before {
    background-image: url('../img/icone/menu_ico_edizionedigitale@2x.png');
  }
  .item--lega:before {
    background-image: url('../img/icone/menu_ico_lega@2x.png');
  }
  .icon--nuova-squadra {
    background-image: url('../img/icone/menu_teamselect_ico_nuovasquadra@2x.png');
  }
  .icon--accedi {
    background-image: url('../img/icone/menu_teamselect_ico_accedi@2x.png');
  }
  .icon--logout {
    background-image: url('../img/icone/menu_teamselect_ico_logout@2x.png');
  }
  .icon--coppa {
    background-image: url('../img/icone/calendario_gironi_coppa_right@2x.png');
  }
  .team-select h2 {
    background-image: url('../img/menu_teamselect_groupcell_bg@2x.jpg');
  }
  .icona-gioco {
    background-image: url('../img/scegligioco_loghi@2x.png');
    background-size: cover;
    width: 248px;
    height: 188px;
  }
  .button--torneo-classico,
  .button--torneo-classico:after,
  .button--torneo-a-gironi,
  .button--torneo-a-gironi:after {
    background-size: cover;
    width: 117px;
    height: 57px;
    margin-right: auto;
    margin-left: auto;
  }
  .button--opzioni-squadra, .button--torneo-classico {
    background-image: url('../img/scegligioco_bottone1@2x.png');
  }
  .button--torneo-classico:after {
    background-image: url('../img/scegligioco_bottone1_scritta@2x.png');
  }
  .button--torneo-a-gironi {
    background-image: url('../img/scegligioco_bottone2@2x.png');
  }
  .button--torneo-a-gironi:after {
    background-image: url('../img/scegligioco_bottone2_scritta@2x.png');
  }
  .button--registrati {
    background-image: url('../img/registrazione_button_registrati@2x.png');
  }
  .card--login {
    background-image: url('../img/login_boxaccesso_bg@2x.png');
  }
  .button--login {
    background-image: url('../img/login_loginbutton@2x.png');
  }
  .button--register {
    background-image: url('../img/registrazione_button_registrati@2x.png');
  }
  .button--facebook-login {
    background-image: url('../img/login_button_fb@2x.png');
  }
  .card--formazione {
    background-image: url('../img/dashboard_formazione_bg@2x.png');
  }
  .card--tabellino {
    background-image: url('../img/dashboard_tabellino_bg@2x.png');
  }
  .card--rosa {
    background-image: url('../img/dashboard_rosa_bg@2x.png');
  }
  .card--classifica {
    background-image: url('../img/dashboard_classifiche_bg@2x.png');
  }
  .button--modulo {
    background-image: url('../img/bottone_modulo@2x.png');
  }
  .button--salva {
    background-image: url('../img/bottone_salva_formazione@2x.png');
  }
  .button--annulla {
    background-image: url('../img/bottone_annulla_formazione@2x.png');
  }
  .formazione .icon.icon--portiere {
    background-image: url('../img/giocatori/formazione_campo_portiere@2x.png');
  }
  .formazione .icon.icon--difensore {
    background-image: url('../img/giocatori/formazione_campo_difensore@2x.png');
  }
  .formazione .icon.icon--centrocampista {
    background-image: url('../img/giocatori/formazione_campo_centrocampista@2x.png');
  }
  .formazione .icon.icon--attaccante {
    background-image: url('../img/giocatori/formazione_campo_attaccante@2x.png');
  }
  .formazione .icon.icon--allenatore {
    background-image: url('../img/giocatori/formazione_campo_mister@2x.png');
  }
  .formazione .icon.icon--portiere-vuoto {
    background-image: url('../img/giocatori/formazione_campo_portiere_vuoto@2x.png');
  }
  .formazione .icon.icon--difensore-vuoto {
    background-image: url('../img/giocatori/formazione_campo_difensore_vuoto@2x.png');
  }
  .formazione .icon.icon--centrocampista-vuoto {
    background-image: url('../img/giocatori/formazione_campo_centrocampista_vuoto@2x.png');
  }
  .formazione .icon.icon--attaccante-vuoto {
    background-image: url('../img/giocatori/formazione_campo_attaccante_vuoto@2x.png');
  }
  .formazione .icon.icon--allenatore-vuoto {
    background-image: url('../img/giocatori/formazione_campo_mister_vuoto@2x.png');
  }
  .formazione .list, .popover--panchina-scegli-giocatore .list {
    background-image: url('../img/bench_drawer_noise@2x.jpg');
  }
  .formazione .list .icon--portiere {
    background-image: url('../img/giocatori/formazione_scegli_portiere@2x.png');
  }
  .formazione .list .icon--difensore {
    background-image: url('../img/giocatori/formazione_scegli_difensore@2x.png');
  }
  .formazione .list .icon--centrocampista {
    background-image: url('../img/giocatori/formazione_scegli_centrocampista@2x.png');
  }
  .formazione .list .icon--attaccante {
    background-image: url('../img/giocatori/formazione_scegli_attaccante@2x.png');
  }
  .formazione .list .icon--allenatore {
    background-image: url('../img/giocatori/formazione_scegli_mister@2x.png');
  }
  .popover.popover--panchina {
    background-image: url('../img/formazione_panchina_bg@2x.jpg');
  }
  .popover--panchina .list .icon--portiere {
    background-image: url('../img/giocatori/formazione_panchina_portiere@2x.png');
  }
  .popover--panchina .list .icon--difensore {
    background-image: url('../img/giocatori/formazione_panchina_difensore@2x.png');
  }
  .popover--panchina .list .icon--centrocampista {
    background-image: url('../img/giocatori/formazione_panchina_centrocampista@2x.png');
  }
  .popover--panchina .list .icon--attaccante {
    background-image: url('../img/giocatori/formazione_panchina_attaccante@2x.png');
  }
  .popover--panchina .list .icon--allenatore {
    background-image: url('../img/giocatori/formazione_panchina_mister@2x.png');
  }
  .popover--panchina .list .icon--portiere-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_portiere_vuoto@2x.png');
  }
  .popover--panchina .list .icon--difensore-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_difensore_vuoto@2x.png');
  }
  .popover--panchina .list .icon--centrocampista-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_centrocampista_vuoto@2x.png');
  }
  .popover--panchina .list .icon--attaccante-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_attaccante_vuoto@2x.png');
  }
  .popover--panchina .list .icon--allenatore-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_mister_vuoto@2x.png');
  }
  .card--calendario-dettaglio {
    background-image: url('../img/calendario_gironi_row_bg@2x.png');
  }
  .card--calendario-riepilogo {
    background-image: url('../img/calendario_gironi_riepilogo_bg@2x.png');
  }
  .icon-star-left {
    background-image: url('../img/icone/calendario_gironi_coppa_left@2x.png');
  }
  .icon-star-right {
    background-image: url('../img/icone/calendario_gironi_coppa_right@2x.png');
  }
  .view--calendario-gironi .item, .scegli-stemma .item {
    background-image: url('../img/calendario_row_bg@2x.png');
  }
  .view--calendario-gironi .item:first-child, .scegli-stemma .item:first-child {
    background-image: url('../img/calendario_row_first@2x.png');
  }
  .view--calendario-gironi .item:last-child, .scegli-stemma .item:last-child {
    background-image: url('../img/calendario_row_last@2x.png');
  }
  .opzioni-squadra .card-title, .card--news .card-title, .card--message .card-title {
    background-image: url('../img/liste_testata1@2x.png');
  }
  .opzioni-squadra .list, .card--news .card-content, .card--message .card-content {
    background-image: url('../img/rosa_filtri_bg@2x.png');
  }
  .formazione.formazione-giornata .icon.icon--portiere {
    background-image: url('../img/giocatori/tabellino_portiere@2x.png');
  }
  .formazione.formazione-giornata .icon.icon--difensore {
    background-image: url('../img/giocatori/tabellino_difensore@2x.png');
  }
  .formazione.formazione-giornata .icon.icon--centrocampista {
    background-image: url('../img/giocatori/tabellino_centrocampista@2x.png');
  }
  .formazione.formazione-giornata .icon.icon--attaccante {
    background-image: url('../img/giocatori/tabellino_attaccante@2x.png');
  }
  .formazione.formazione-giornata .icon.icon--allenatore {
    background-image: url('../img/giocatori/tabellino_mister@2x.png');
  }
  .card-dettaglio-tabellino-header {
    background-image: url('../img/bg_header_reparto_rosa@2x.png');
  }
  .card-dettaglio-tabellino-statistiche .item {
    background-image: url('../img/calendario_row_bg@2x.png');
  }
  .card-dettaglio-tabellino-statistiche .item:first-child {
    background-image: url('../img/calendario_row_first@2x.png');
  }
  .card-dettaglio-tabellino-statistiche .item:last-child {
    background-image: url('../img/calendario_row_last@2x.png');
  }
  .popover--panchina.panchina-dettaglio .list .icon--portiere {
    background-image: url('../img/giocatori/tabellino_panchina_portiere_voto@2x.png');
  }
  .popover--panchina.panchina-dettaglio .list .icon--difensore {
    background-image: url('../img/giocatori/tabellino_panchina_difensore_voto@2x.png');
  }
  .popover--panchina.panchina-dettaglio .list .icon--centrocampista {
    background-image: url('../img/giocatori/tabellino_panchina_centrocampista_voto@2x.png');
  }
  .popover--panchina.panchina-dettaglio .list .icon--attaccante {
    background-image: url('../img/giocatori/tabellino_panchina_attaccante_voto@2x.png');
  }
  .popover--panchina.panchina-dettaglio .list .icon--allenatore {
    background-image: url('../img/giocatori/tabellino_panchina_mister_voto@2x.png');
  }
  .card--rosa-riepilogo {
    background-image: url('../img/rosa_riepilogo_bg@2x.png');
  }
  .view--rosa .list .card .item.item-stable, .view--rosa .list .card .item.active {
    background-image: url('../img/bg_header_reparto_rosa@2x.png');
  }
  .view--rosa .button--next{
    background-image: url('../img/rosa_disclosure_indicator@2x.png');
  }
  .icon--portiere {
    background-image: url('../img/giocatori/formazione_scegli_portiere@2x.png');
  }
  .icon--difensore {
    background-image: url('../img/giocatori/formazione_scegli_difensore@2x.png');
  }
  .icon--centrocampista {
    background-image: url('../img/giocatori/formazione_scegli_centrocampista@2x.png');
  }
  .icon--attaccante {
    background-image: url('../img/giocatori/formazione_scegli_attaccante@2x.png');
  }
  .icon--allenatore {
    background-image: url('../img/giocatori/formazione_scegli_mister@2x.png');
  }
  .icon--portiere-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_portiere_vuoto@2x.png');
  }
  .icon--difensore-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_difensore_vuoto@2x.png');
  }
  .icon--centrocampista-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_centrocampista_vuoto@2x.png');
  }
  .icon--attaccante-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_attaccante_vuoto@2x.png');
  }
  .icon--allenatore-vuoto {
    background-image: url('../img/giocatori/formazione_panchina_mister_vuoto@2x.png');
  }
  .view--rosa .list .card .item-accordion {
    background-image: url('../img/bg_row_reparto_rosa_top_e_middle@2x.png');
  }
  .view--rosa .list .card .item-accordion:last-child {
    background-image: url('../img/bg_row_reparto_rosa_bottom@2x.png');
  }
  .item--rosa-elenco {
    background-image: url('../img/rosa_elenco_row@2x.png');
  }
  .view--rosa-filtri .card {
    background-image: url('../img/rosa_filtri_bg@2x.png');
  }
  .view--rosa-filtri .item--rosa-filtri-destra .item-content{
    background-image: url('../img/rosa_filtri_button_destra@2x.png')!important;
  }
  .view--rosa-filtri .item--rosa-filtri-destra  input:checked ~ .item-content{
    background-image: url('../img/rosa_filtri_button_destra_attivo@2x.png')!important;
  }
  .view--rosa-filtri .item--rosa-filtri-sinistra .item-content{
    background-image: url('../img/rosa_filtri_button_sinistra@2x.png')!important;
  }
  .view--rosa-filtri .item--rosa-filtri-sinistra input:checked ~ .item-content{
    background-image: url('../img/rosa_filtri_button_sinistra_attivo@2x.png')!important;
  }
  .list--filtra-giocatori {
    background-image: url('../img/rosa_disclosure_indicator@2x.png');
  }
  .card--classifiche .card-title{
    background-image: url('../img/classifica_classico_separatore_bg@2x.png');
  }
  .card--classifiche .item {
    background-image: url('../img/classifica_classico_row_bg@2x.png');
  }
  .card--classifiche .item:last-child {
    background-image: url('../img/classifica_classico_row_bg_last@2x.png');
  }
  .card--classifiche-gironi {
    background-image: url('../img/classifica_gironi_row_bg@2x.png');
  }

  .mcc .button.button--opzioni-squadra, .mcc .button.button--generic {
    background-image: url('../img/login_loginbutton@2x.png');
  }
  .mcc .button.button--opzioni-squadra.activated,
  .mcc .button.button--generic.activated,
  .mcc .button.button--opzioni-squadra:focus,
  .mcc .button.button--generic:focus,
  .mcc .button.button--opzioni-squadra:active,
  .mcc .button.button--generic:active {
    background-image: url('../img/login_loginbutton_attivo@2x.png');
  }

  /* bg active */

  .view--rosa .list .card .item-accordion.activated,
  .view--rosa .list .card .item-accordion:focus,
  .view--rosa .list .card .item-accordion:active {
    background-image: url('../img/bg_row_reparto_rosa_top_e_middle_attivo@2x.png');
  }
  .view--rosa .list .card .item-accordion:last-child.activated,
  .view--rosa .list .card .item-accordion:last-child:focus,
  .view--rosa .list .card .item-accordion:last-child:active {
    background-image: url('../img/bg_row_reparto_rosa_bottom_attivo@2x.png');
  }
  .view--calendario-gironi .card.activated,
  .view--calendario-gironi .card:focus,
  .view--calendario-gironi .card:active,
  {
    background-image: url('../img/calendario_gironi_row_bg_attivo@2x.png');
  }
  .view--calendario-gironi .item.activated,
  .view--calendario-gironi .item:focus,
  .view--calendario-gironi .item:active,
  .scegli-stemma .item.activated,
  .scegli-stemma .item:focus,
  .scegli-stemma .item:active {
    background-image: url('../img/calendario_row_bg_attivo@2x.png');
  }
  .view--calendario-gironi .item:first-child.activated,
  .view--calendario-gironi .item:first-child:focus,
  .view--calendario-gironi .item:first-child:active,
  .scegli-stemma .item:first-child.activated,
  .scegli-stemma .item:first-child:focus,
  .scegli-stemma .item:first-child:active {
    background-image: url('../img/calendario_row_first_attivo@2x.png');
  }
  .view--calendario-gironi .item:last-child.activated,
  .view--calendario-gironi .item:last-child:focus,
  .view--calendario-gironi .item:last-child:active,
  .scegli-stemma .item:last-child.activated,
  .scegli-stemma .item:last-child:focus,
  .scegli-stemma .item:last-child:active {
    background-image: url('../img/calendario_row_last_attivo@2x.png');
  }
  .card--classifica.activated,
  .card--classifica:focus,
  .card--classifica:active {
    background-image: url('../img/dashboard_classifiche_bg_attivo@2x.png');
  }
  .card--formazione.activated,
  .card--formazione:focus,
  .card--formazione:active {
    background-image: url('../img/dashboard_formazione_bg_attivo@2x.png');
  }
  .card--rosa.activated,
  .card--rosa:focus,
  .card--rosa:active {
    background-image: url('../img/dashboard_rosa_bg_attivo@2x.png');
  }
  .card--tabellino.activated,
  .card--tabellino:focus,
  .card--tabellino:active {
    background-image: url('../img/dashboard_tabellino_bg_attivo@2x.png');
  }
  .item--rosa-elenco.activated,
  .item--rosa-elenco:focus,
  .item--rosa-elenco:active {
    background-image: url('../img/rosa_elenco_row_attivo@2x.png');
  }


  /* buttons active */
  .button--facebook-login.activated,
  .button--facebook-login:focus,
  .button--facebook-login:active {
    background-image: url('../img/login_button_fb_attivo@2x.png');
  }
  .button--login.activated,
  .button--login:focus,
  .button--login:active {
    background-image: url('../img/login_loginbutton_attivo@2x.png');
  }
  .button--register.activated,
  .button--register:focus,
  .button--register:active {
    background-image: url('../img/registrazione_button_registrati_attivo@2x.png');
  }
  .button--opzioni-squadra.activated,
  .button--opzioni-squadra:focus,
  .button--opzioni-squadra:active,
  .button--torneo-classico.activated,
  .button--torneo-classico:focus,
  .button--torneo-classico:active {
    background-image: url('../img/scegligioco_bottone1_attivo@2x.png');
  }
  .button--torneo-a-gironi.activated,
  .button--torneo-a-gironi:focus,
  .button--torneo-a-gironi:active {
    background-image: url('../img/scegligioco_bottone2_attivo@2x.png');
  }
  .button--back.activated,
  .button--back:focus,
  .button--back:active,
  .button.back-button.activated,
  .button.back-button:focus,
  .button.back-button:active {
    background-image: url('../img/topbar_button_back_attivo@2x.png')!important;
  }
  .button--cancel.activated,
  .button--cancel:focus,
  .button.button-icon.ion-close.activated,
  .button.button-icon.ion-close:focus,
  .button--cancel:active,
  .button.button-icon.ion-close:active {
    background-image: url('../img/topbar_button_cancel_attivo@2x.png');
  }
  .button--cancel-right.activated,
  .button--cancel-right:focus,
  .button--cancel-right:active {
    background-image: url('../img/topbar_button_cancel_right_attivo@2x.png');
  }
  .button--filtra.activated,
  .button--filtra:focus,
  .button.button-icon.button-clear.ion-ios-settings-strong.activated,
  .button.button-icon.button-clear.ion-ios-settings-strong:focus,
  .button--filtra:active,
  .button.button-icon.button-clear.ion-ios-settings-strong:active {
    background-image: url('../img/topbar_button_filtra_attivo@2x.png');
  }
  .button--menu.activated,
  .button--menu:focus,
  .button.button-icon.ion-navicon.activated,
  .button.button-icon.ion-navicon:focus,
  .button--menu:active,
  .button.button-icon.ion-navicon:active {
    background-image: url('../img/topbar_button_menu_attivo@2x.png');
  }
  .button--panchina.activated,
  .button--panchina:focus,
  .button.button-icon.button-clear.ion-android-walk.activated,
  .button.button-icon.button-clear.ion-android-walk:focus,
  .button--panchina:active,
  .button.button-icon.button-clear.ion-android-walk:active {
    background-image: url('../img/topbar_button_panchina_attivo@2x.png');
  }
  .button--save.activated,
  .button--save:focus,
  .button.button-icon.ion-checkmark.activated,
  .button.button-icon.ion-checkmark:focus,
  .button--save:active,
  .button.button-icon.ion-checkmark:active {
    background-image: url('../img/topbar_button_save_attivo@2x.png');
  }
  .button--save-right.activated,
  .button--save-right:focus,
  .button--save-right:active {
    background-image: url('../img/topbar_button_save_right_attivo@2x.png');
  }

  .button--formazione-nome-left {
    background-image: url('../img/tabellino_gironi_squadra_left@2x.png');
  }
  .button--formazione-nome-right {
    background-image: url('../img/tabellino_gironi_squadra_right@2x.png');
  }
  .button--formazione-nome-left.active {
    background-image: url('../img/tabellino_gironi_squadra_left_active@2x.png');
  }
  .button--formazione-nome-right.active {
    background-image: url('../img/tabellino_gironi_squadra_right_active@2x.png');
  }
  /* MCC */

  /*.mcc .scegli-gioco {
    background-image: url('../img/Default@2x.jpg');
    padding-top: 270px;
  }*/
  .mcc .icona-gioco {
    width: 260px;
    height: 195px;
  }
  .mcc .button--torneo-classico, .mcc .button--torneo-classico:after, .mcc .button--torneo-a-gironi, .mcc .button--torneo-a-gironi:after {
    width: 130px;
    height: 97px;
  }


  /* preload */
  body:after {
    content: '';
    preload: true;
    position: absolute;
    height: 1px;
    left: 1px;
    left: -10px;
    top: -10px;
    background-image:
        url('../img/bg_start@2x.jpg'),
        url('../img/topbar_bg@2x.png'),
        url('../img/bg_start@2x.jpg'),
        url('../img/login_button_fb_active@2x.png'),
        url('../img/liste_testata1@2x.png'),
        url('../img/freccia_disclosure@2x.png'),
        url('../img/button_rosa_vendi@2x.png'),
        url('../img/Default@2x.jpg'),
        url('../img/topbar_bg@2x.png'),
        url('../img/topbar_button_menu@2x.png'),
        url('../img/topbar_button_save@2x.png'),
        url('../img/topbar_button_save_right@2x.png'),
        url('../img/topbar_button_panchina@2x.png'),
        url('../img/topbar_button_back@2x.png'),
        url('../img/topbar_button_filtra@2x.png'),
        url('../img/topbar_button_cancel@2x.png'),
        url('../img/topbar_button_cancel_right@2x.png'),
        url('../img/topbar_logo@2x.png'),
        url('../img/menu_full_bg@2x.jpg'),
        url('../img/menu_header_bg@2x.jpg'),
        url('../img/menu_header_togglearrow_down@2x.png'),
        url('../img/menu_teamselect_bg@2x.jpg'),
        url('../img/menu_cell_bg@2x.jpg'),
        url('../img/menu_teamselect_cell_bg@2x.jpg'),
        url('../img/icone/menu_ico_home@2x.png'),
        url('../img/icone/menu_ico_rosa@2x.png'),
        url('../img/icone/menu_ico_formazione@2x.png'),
        url('../img/icone/menu_ico_calendario@2x.png'),
        url('../img/icone/menu_ico_classifiche@2x.png'),
        url('../img/icone/menu_ico_opzioni@2x.png'),
        url('../img/icone/menu_ico_regolamento@2x.png'),
        url('../img/icone/menu_ico_playoff@2x.png'),
        url('../img/icone/menu_teamselect_ico_nuovasquadra@2x.png'),
        url('../img/icone/menu_teamselect_ico_accedi@2x.png'),
        url('../img/icone/menu_teamselect_ico_logout@2x.png'),
        url('../img/menu_teamselect_groupcell_bg@2x.jpg'),
        url('../img/scegligioco_loghi@2x.png'),
        url('../img/scegligioco_bottone1@2x.png'),
        url('../img/scegligioco_bottone1_scritta@2x.png'),
        url('../img/scegligioco_bottone2@2x.png'),
        url('../img/scegligioco_bottone2_scritta@2x.png'),
        url('../img/registrazione_button_registrati@2x.png'),
        url('../img/login_boxaccesso_bg@2x.png'),
        url('../img/login_loginbutton@2x.png'),
        url('../img/registrazione_button_registrati@2x.png'),
        url('../img/login_button_fb@2x.png'),
        url('../img/dashboard_formazione_bg@2x.png'),
        url('../img/dashboard_tabellino_bg@2x.png'),
        url('../img/dashboard_rosa_bg@2x.png'),
        url('../img/dashboard_classifiche_bg@2x.png'),
        url('../img/bottone_modulo@2x.png'),
        url('../img/bottone_salva_formazione@2x.png'),
        url('../img/bottone_annulla_formazione@2x.png'),
        url('../img/giocatori/formazione_campo_portiere@2x.png'),
        url('../img/giocatori/formazione_campo_difensore@2x.png'),
        url('../img/giocatori/formazione_campo_centrocampista@2x.png'),
        url('../img/giocatori/formazione_campo_attaccante@2x.png'),
        url('../img/giocatori/formazione_campo_mister@2x.png'),
        url('../img/giocatori/formazione_campo_portiere_vuoto@2x.png'),
        url('../img/giocatori/formazione_campo_difensore_vuoto@2x.png'),
        url('../img/giocatori/formazione_campo_centrocampista_vuoto@2x.png'),
        url('../img/giocatori/formazione_campo_attaccante_vuoto@2x.png'),
        url('../img/giocatori/formazione_campo_mister_vuoto@2x.png'),
        url('../img/bench_drawer_noise@2x.jpg'),
        url('../img/giocatori/formazione_scegli_portiere@2x.png'),
        url('../img/giocatori/formazione_scegli_difensore@2x.png'),
        url('../img/giocatori/formazione_scegli_centrocampista@2x.png'),
        url('../img/giocatori/formazione_scegli_attaccante@2x.png'),
        url('../img/giocatori/formazione_scegli_mister@2x.png'),
        url('../img/formazione_panchina_bg@2x.jpg'),
        url('../img/giocatori/formazione_panchina_portiere@2x.png'),
        url('../img/giocatori/formazione_panchina_difensore@2x.png'),
        url('../img/giocatori/formazione_panchina_centrocampista@2x.png'),
        url('../img/giocatori/formazione_panchina_attaccante@2x.png'),
        url('../img/giocatori/formazione_panchina_mister@2x.png'),
        url('../img/giocatori/formazione_panchina_portiere_vuoto@2x.png'),
        url('../img/giocatori/formazione_panchina_difensore_vuoto@2x.png'),
        url('../img/giocatori/formazione_panchina_centrocampista_vuoto@2x.png'),
        url('../img/giocatori/formazione_panchina_attaccante_vuoto@2x.png'),
        url('../img/giocatori/formazione_panchina_mister_vuoto@2x.png'),
        url('../img/calendario_gironi_row_bg@2x.png'),
        url('../img/calendario_gironi_riepilogo_bg@2x.png'),
        url('../img/icone/calendario_gironi_coppa_left@2x.png'),
        url('../img/icone/calendario_gironi_coppa_right@2x.png'),
        url('../img/calendario_row_bg@2x.png'),
        url('../img/calendario_row_first@2x.png'),
        url('../img/calendario_row_last@2x.png'),
        url('../img/liste_testata1@2x.png'),
        url('../img/rosa_filtri_bg@2x.png'),
        url('../img/giocatori/tabellino_portiere@2x.png'),
        url('../img/giocatori/tabellino_difensore@2x.png'),
        url('../img/giocatori/tabellino_centrocampista@2x.png'),
        url('../img/giocatori/tabellino_attaccante@2x.png'),
        url('../img/giocatori/tabellino_mister@2x.png'),
        url('../img/bg_header_reparto_rosa@2x.png'),
        url('../img/calendario_row_bg@2x.png'),
        url('../img/calendario_row_first@2x.png'),
        url('../img/calendario_row_last@2x.png'),
        url('../img/giocatori/tabellino_panchina_portiere_voto@2x.png'),
        url('../img/giocatori/tabellino_panchina_difensore_voto@2x.png'),
        url('../img/giocatori/tabellino_panchina_centrocampista_voto@2x.png'),
        url('../img/giocatori/tabellino_panchina_attaccante_voto@2x.png'),
        url('../img/giocatori/tabellino_panchina_mister_voto@2x.png'),
        url('../img/rosa_riepilogo_bg@2x.png'),
        url('../img/bg_header_reparto_rosa@2x.png'),
        url('../img/rosa_disclosure_indicator@2x.png'),
        url('../img/giocatori/formazione_scegli_portiere@2x.png'),
        url('../img/giocatori/formazione_scegli_difensore@2x.png'),
        url('../img/giocatori/formazione_scegli_centrocampista@2x.png'),
        url('../img/giocatori/formazione_scegli_attaccante@2x.png'),
        url('../img/giocatori/formazione_scegli_mister@2x.png'),
        url('../img/giocatori/formazione_panchina_portiere_vuoto@2x.png'),
        url('../img/giocatori/formazione_panchina_difensore_vuoto@2x.png'),
        url('../img/giocatori/formazione_panchina_centrocampista_vuoto@2x.png'),
        url('../img/giocatori/formazione_panchina_attaccante_vuoto@2x.png'),
        url('../img/giocatori/formazione_panchina_mister_vuoto@2x.png'),
        url('../img/bg_row_reparto_rosa_top_e_middle@2x.png'),
        url('../img/bg_row_reparto_rosa_bottom@2x.png'),
        url('../img/rosa_elenco_row@2x.png'),
        url('../img/rosa_filtri_bg@2x.png'),
        url('../img/rosa_filtri_button_destra@2x.png'),
        url('../img/rosa_filtri_button_destra_attivo@2x.png'),
        url('../img/rosa_filtri_button_sinistra@2x.png'),
        url('../img/rosa_filtri_button_sinistra_attivo@2x.png'),
        url('../img/rosa_disclosure_indicator@2x.png'),
        url('../img/classifica_classico_separatore_bg@2x.png'),
        url('../img/classifica_classico_row_bg@2x.png'),
        url('../img/classifica_classico_row_bg_last@2x.png'),
        url('../img/classifica_gironi_row_bg@2x.png'),

        url('../img/bg_row_reparto_rosa_top_e_middle_attivo@2x.png'),
        url('../img/bg_row_reparto_rosa_bottom_attivo@2x.png'),
        url('../img/calendario_gironi_row_bg_attivo@2x.png'),
        url('../img/calendario_row_bg_attivo@2x.png'),
        url('../img/calendario_row_first_attivo@2x.png'),
        url('../img/calendario_row_last_attivo@2x.png'),
        url('../img/dashboard_classifiche_bg_attivo@2x.png'),
        url('../img/dashboard_formazione_bg_attivo@2x.png'),
        url('../img/dashboard_rosa_bg_attivo@2x.png'),
        url('../img/dashboard_tabellino_bg_attivo@2x.png'),
        url('../img/rosa_elenco_row_attivo@2x.png'),
        url('../img/login_button_fb_attivo@2x.png'),
        url('../img/login_loginbutton_attivo@2x.png'),
        url('../img/registrazione_button_registrati_attivo@2x.png'),
        url('../img/scegligioco_bottone1_attivo@2x.png'),
        url('../img/scegligioco_bottone2_attivo@2x.png'),
        url('../img/topbar_button_back_attivo@2x.png'),
        url('../img/topbar_button_cancel_attivo@2x.png'),
        url('../img/topbar_button_cancel_right_attivo@2x.png'),
        url('../img/topbar_button_filtra_attivo@2x.png'),
        url('../img/topbar_button_menu_attivo@2x.png'),
        url('../img/topbar_button_panchina_attivo@2x.png'),
        url('../img/topbar_button_save_attivo@2x.png'),
        url('../img/topbar_button_save_right_attivo@2x.png'),
        
        url('../img/tabellino_gironi_squadra_left@2x.png'),
        url('../img/tabellino_gironi_squadra_right@2x.png'),
        url('../img/tabellino_gironi_squadra_left_active@2x.png'),
        url('../img/tabellino_gironi_squadra_right_active@2x.png');
  }
}

