/* Reset */
html, body {
  height: 100%;
}
*, *:after, *:before {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-size: contain;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
input, button, select, textarea {
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
}
.button-clear {
  max-height: none;
}
label.toggle {
  margin: 0;
  padding: 0;
}
.button.active, .button.activated, .item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  /*opacity: .8;*//*TODO: make custom*/
}
.card, .item, .bar.bar-stable, .item, .item.item-stable, .item.active.item-stable {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: none;
  border:none;
}
.card {
  min-height: 44px;
  margin: 10px auto;
  max-width: 300px; /* TODO: media queries? */
}
.col {
  padding: 0;
}

body {
  background-image: url('../img/bg_start.jpg');
  background-size: cover;
  background-position: top center;
  color: white;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"], .pane, .view {
  background: url('../img/topbar_bg.png') top left no-repeat, url('../img/bg_start.jpg');
  background-size: 100% 44px, cover;
  background-attachment: fixed;
}

/*.platform-ios.platform-cordova [nav-view-transition="ios"][nav-view-direction="forward"],
.platform-ios.platform-cordova [nav-view-transition="ios"][nav-view-direction="back"],
.platform-ios.platform-cordova .pane,
.platform-ios.platform-cordova .view {
  background-size: 100% 64px, cover;
}*/


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  font-family: 'Open Sans Condensed';
  font-size: 16px;
}

/* Common */
.text-primary {
  color: #7a5636;
}
.text-secondary {
  color: #595959;
}

/* remove status bar IOS */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 44px!important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 0!important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: 44px;
}
ion-view ion-content.scroll-content.ionic-scroll.has-header, .view--rosa-filtri {
  background-image: url('../img/bg_start.jpg');
  background-size: cover;
  background-position: top center;
  /*TODO: remove?*/
}
ion-view ion-content.scroll-content.ionic-scroll.has-header.formazione {
  background-image: url('../img/bg_formazione.jpg');
}
.button {
  color: #623524!important;
  font-weight: 600;
  background-color: transparent!important;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 38px;
  min-height: 44px;
  padding: 0;
  border: 0;
  text-align: center;
}
.item-icon-left .icon, .item-icon-left img {
  left: 11px;
  width: 22px;
  height: auto;
  top: 10px;
}
.button.button--generic {
  background-image: url('../img/login_loginbutton.png');
  width: 165px;
  height: 52px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
.opzioni-squadra .button.button--generic {
  font-size: 19px;
}
.button.button--generic.activated,
.button.button--generic.active {    
  background-image: url('../img/login_loginbutton_attivo.png');
}
.card-content {
  padding: 10px 16px;
  font-size: 14px;
  text-transform: none;
  color: #444;
}
h2.card-title {
  font-size: 1rem;
  line-height: 31px;
  padding: 0 16px;
  margin: 0;
  color: #7a5636;
  font-weight: 600;
}
.item-divider {
  background-image: url('../img/liste_testata1.png');
  color: #7a5636;
}
.button--next {
  background-image: url('../img/freccia_disclosure.png');
  width: 12px;
  min-width: 0;
}
.button--vendi {
  background-image: url('../img/button_rosa_vendi.png');
  width: 60px;
  height: 27px;
  text-indent: -9999px;
  min-width: 0;
}

.popover-backdrop.active {
  background-color: rgba(0, 0, 0, 0.3);
}
/* jc tolto 
.popover-backdrop.active+.popover-backdrop.active {
  background: transparent;
  pointer-events:all;
  right: 64px;
  width: auto;
}
*/

/* Splash */
.splash {
  background-image: url('../img/Default.jpg');
  background-size: cover;
}

/* Top bar */
ion-header-bar.bar-stable.bar.bar-header, .bar-header {
  background-image: url('../img/topbar_bg.png');
  background-color: transparent;
  background-size: cover;
  padding: 0;
  border: none;
}

/*.bar-header .title:not(:empty) {
  background-image: url('../img/topbar_bg.png');
  background-size: auto 44px;
  background-position: top center;
}*/

.bar-header h1, .header-item {
  color: white;
}
.bar-header .title {
  color: white!important;
  text-transform: uppercase!important;
  text-align: center!important;
  margin: 0 auto!important;
  left: 44px!important;
  right: 44px!important;
}
.buttons-left, .left-buttons, .buttons-right, .right-buttons {
  margin: 0;
  padding: 0;
}
.buttons-left button, .right-buttons button, .button.back-button.buttons.button-clear.header-item, .button.button-icon.ion-close, .button.button-icon.ion-checkmark,
.bar-header .button,
.bar-stable .button.button-clear {
  width: 49px;
  height: 44px;
  background-size: auto 44px;
}
.button--menu, .button.button-icon.ion-navicon {
  background-image: url('../img/topbar_button_menu.png');
}
.button--save, .button.button-icon.ion-checkmark, .mcc .button--save-right {
  background-image: url('../img/topbar_button_save.png');
}
.button--save-right {
  background-image: url('../img/topbar_button_save_right.png');
}
.button--panchina, .button.button-icon.button-clear.ion-android-walk {
  background-image: url('../img/topbar_button_panchina.png');
}
.button--back, .button.back-button {
  background-image: url('../img/topbar_button_back.png')!important;
}
.button--back .ion-chevron-left {
  display: none;
}
.button--filtra, .button.button-icon.button-clear.ion-ios-settings-strong {
  background-image: url('../img/topbar_button_filtra.png');
}
.button--cancel, .button.button-icon.ion-close {
  background-image: url('../img/topbar_button_cancel.png');
}
.button--cancel-right {
  background-image: url('../img/topbar_button_cancel_right.png');
}
.ion-navicon:before, .ion-checkmark:before, .ion-android-walk:before, .ion-ios-arrow-back:before, .ion-ios-settings-strong:before, .ion-close:before {
  content: none;/* TODO: remove */
}
.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
  right: 0;
  top:0;/* TODO: remove */
}
.title.title-center.header-item {
  color: white;
}
.topbar-logo {
  background-image: url('../img/topbar_logo.png');
  background-size: auto 37px;
  text-indent: -9999px;
}

/* Side menu */
ion-side-menu .bar {
  position: static;
}
ion-side-menu.menu.menu-left {
  background-image: url('../img/menu_full_bg.jpg');
  background-position: top right;
  background-size: cover;
}
ion-side-menu.menu.menu-left ion-header-bar.bar-stable.bar.bar-header {
  background-image: url('../img/menu_header_bg.jpg');
  padding-left: 60px;
}
ion-side-menu.menu.menu-left ion-header-bar.bar-stable.bar.bar-header::after {
  background-image: url('../img/menu_header_togglearrow_down.png');
  content: '';
  width: 20px;
  height: 10px;
  position: absolute;
  right: 16px;
  top: 16px;
}
/*.platform-ios ion-side-menu.menu.menu-left ion-header-bar.bar-stable.bar.bar-header::after {
  top: 32px;
}*/

ion-side-menu.menu.menu-left .team-select {
  background-image: url('../img/menu_teamselect_bg.jpg');
  background-size: cover;
  height: 900px;
  padding-top: 20px;
}

ion-side-menu.menu.menu-left ion-header-bar img {
  position: absolute;
  left: 5px;
  top: 5px;
}
ion-side-menu.menu.menu-left ion-header-bar h2,
ion-side-menu.menu.menu-left ion-header-bar h3 {
  position: absolute;
  margin: 0;
  width: 180px;
}
ion-side-menu.menu.menu-left ion-header-bar h2 {
  font-size: 16px;
  color: #d8d8d8;
  top: 18px;
  text-transform: none;
}
ion-side-menu.menu.menu-left ion-header-bar h3 {
  top: 5px;
  font-size: 12px;
  color: #999;
}
ion-side-menu .list {
  margin-top: 20px;
}
ion-side-menu .item {
  background-image: url('../img/menu_cell_bg.jpg');
  border:0;
  color: #ccc;
  text-transform: uppercase;
  font-size: 15px;
  padding: 0 0 0 44px;
  line-height: 44px;
  background-size: cover;
}
ion-side-menu .team-select .item {
  background-image: url('../img/menu_teamselect_cell_bg.jpg');
}


ion-side-menu .item:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: 11px;
  top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ion-side-menu .item img, ion-side-menu .item .icon {
  width: 24px;
  position: absolute;
  left: 10px;
  top: 8px;
}
ion-side-menu .item .icon {
  height: 28px;
}
.item--home:before {
  background-image: url('../img/icone/menu_ico_home.png');
}
.item--rosa:before {
  background-image: url('../img/icone/menu_ico_rosa.png');
}
.item--formazione:before {
  background-image: url('../img/icone/menu_ico_formazione.png');
}
.item--calendario:before {
  background-image: url('../img/icone/menu_ico_calendario.png');
}
.item--classifica:before {
  background-image: url('../img/icone/menu_ico_classifiche.png');
}
.item--opzioni:before {
  background-image: url('../img/icone/menu_ico_opzioni.png');
}
.item--regolamento:before {
  background-image: url('../img/icone/menu_ico_regolamento.png');
}
.item--playoff:before {
  background-image: url('../img/icone/menu_ico_playoff.png');
}
.item--lega:before {
  background-image: url('../img/icone/menu_ico_lega.png');
}
.item--edizione-digitale:before {
  background-image: url('../img/icone/menu_ico_edizionedigitale.png');
}
.icon--nuova-squadra {
  background-image: url('../img/icone/menu_teamselect_ico_nuovasquadra.png');
}
.icon--accedi {
  background-image: url('../img/icone/menu_teamselect_ico_accedi.png');
}
.icon--logout {
  background-image: url('../img/icone/menu_teamselect_ico_logout.png');
}
.icon--coppa {
  background-image: url('../img/icone/calendario_gironi_coppa_right.png');
  right: 10px;
  top: 6px;
  width: 25px;
  height: 25px;
  left: initial!important;
}
.icon--lega {
  background-image: url('../img/icone/menu_ico_lega.png');
  right: 10px;
  top: 6px;
  width: 25px;
  height: 25px;
  left: initial!important;
}
.team-select h2 {
  background-image: url('../img/menu_teamselect_groupcell_bg.jpg');
  color: #ccc;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  margin: 0;
}

.table--classifica {
  margin: 30px 0 0;
}
.table--classifica .row {
  line-height: 25px;
}
.table--classifica .row div {
  padding: 0 2px 0 8px;
  width: 125px;
}
.table--classifica .row div:first-child {
  padding: 0 0 0 26px;
  color: #444;
  width: 100%;
}
.table--classifica .row div:last-child {
  padding: 0 0 0 4px;
  width: 110px;
}

/* Scegli gioco */
.scegli-gioco {
  background: url('../img/bg_start.jpg');
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}
.icona-gioco {
  background-image: url('../img/scegligioco_loghi.png');
  margin-top: 40px!important; /*overrides ionic h1:first-child*/
  width: 248px;
  height: 188px;
  text-align: center;
  margin: auto;
}
.button--opzioni-squadra, .button--torneo-classico, .button--torneo-a-gironi {
  margin-top: 15px;
  width: 120px;
  height: 60px;
  text-indent: -9999px;
}
.button--opzioni-squadra {
  text-indent: 0;
  text-align: center;
  line-height: 58px;
  font-size: 21px;
}
.button--torneo-classico:after, .button--torneo-a-gironi:after {
  background-position: center 5px;
}
.button--opzioni-squadra, .button--torneo-classico {
  background-image: url('../img/scegligioco_bottone1.png');
}
.button--torneo-classico:after {
  background-image: url('../img/scegligioco_bottone1_scritta.png');
  content:'';
}
.button--torneo-a-gironi {
  background-image: url('../img/scegligioco_bottone2.png');
}
.button--torneo-a-gironi:after {
  background-image: url('../img/scegligioco_bottone2_scritta.png');
  content: '';
}




/* Registrazione */
.view--registrazione {
  padding: 0;
  margin: 0;
  background: #ededed!important;
}
.view--registrazione *, .view--registrazione input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.view--registrazione form {
  background-color: white;
  color: #333;
}
.view--registrazione h2 {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  background: #ededed;
  line-height: 44px;
  padding: 0 10px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.view--registrazione .descrizione {
  min-height: 28px;
  padding: 10px;
  background: #ededed;
}
.view--registrazione label, .view--registrazione input {
  height: 44px;
  line-height: 44px;
  box-sizing: content-box;
}
.view--registrazione .row {
  padding: 0;
}
.view--registrazione label {
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
  padding: 0;
  display: block;
}
.view--registrazione a strong{
  font-weight: 600;
}
.view--registrazione .item-toggle {
  border-bottom: 1px solid #ccc;
}
.view--registrazione a {
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}
.view--registrazione input {
  font-size: inherit;
  padding: 0 10px;
  margin: 0;
  text-transform: none;
}
.view--registrazione input[type=checkbox], .view--registrazione label.toggle {
  line-height: normal;
  margin: 0;
  padding: 0;
  border: 0!important;
}
.toggle .handle {
  top: 2px;
  left: 2px;
}
.button--registrati {
  background-image: url('../img/registrazione_button_registrati.png');
  text-indent: -9999px;
  width: 124px;
  height: 44px;
  margin: 10px auto;
  display: block;
}



/* Login */
.card--login, .button--login {
    background-size: contain;
}
.card--login {
  background-image: url('../img/login_boxaccesso_bg.png');
  width: 300px;
  height: 182px;
}
.card--login form {
  padding: 10px;
}
.card--login input {
  background: transparent;
  width: 100%;
  height: 39px;
  line-height: 39px;
  padding: 0 10px;
  text-transform: none;
  color: #a7a7a7;
}
.button--login {
  background-image: url('../img/login_loginbutton.png');
  background-position: bottom;
  width: 125px;
  height: 46px;
  font-weight: 600;
  margin: auto;
  display: block;
  margin-top: 8px;
  color: #7c4a34;
}
.button--register {
  background-image: url('../img/registrazione_button_registrati.png');
  width: 124px;
  height: 44px;
}
.button--facebook-login {
  background-image: url('../img/login_button_fb.png');
  width: 233px;
  height: 50px;
  background-size: cover;
}
.button--register,
.button--facebook-login {
  text-indent: -9999px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}



/* Formazione */
.view--home .card {
  margin: 10px auto;
  color: #7a5636;
}
.card--formazione {
  background-image: url('../img/dashboard_formazione_bg.png');
  height: 97px;
}
.card--tabellino {
  background-image: url('../img/dashboard_tabellino_bg.png');
  height: 97px;
}
.card--rosa {
  background-image: url('../img/dashboard_rosa_bg.png');
}
.card--classifica {
  background-image: url('../img/dashboard_classifiche_bg.png');
  height: 182px;
}
.view--home div {
  font-size: 15px;
}
.formazione {
  text-align: center;
}
.formazione .col.modulo {
  text-align: left;
  padding: 0;
}
.button--modulo {
  background-image: url('../img/bottone_modulo.png');
  width: 48px;
  height: 47px;
}
.button--salva {
  background-image: url('../img/bottone_salva_formazione.png');
  width: 55px;
  height: 46px;
}
.button--annulla {
  background-image: url('../img/bottone_annulla_formazione.png');
  width: 48px;
  height: 47px;
}
.formazione .row {
  padding: 0;
  height: 23%;
}
.formazione .scroll {
  height: 100%;
}
.formazione .col {
  padding: 20px 0 5px;
  position: relative; /* triangle */
}
.formazione .row.last {
  height: 8.01%!important;
  position: relative;
}
.formazione .row.last button {
  position: absolute;
  bottom: 0;
}
.formazione .row.last button + button {
  left: 52px;
}
.formazione .icon {
  width: 65px;
  height: 65px;
  display: block;
  margin: auto;
  background-position: top center;
  font-size: 10px;
  line-height: 102px;
  overflow: hidden;
}
.formazione .icon.icon--portiere {
  background-image: url('../img/giocatori/formazione_campo_portiere.png');
  line-height: 98px;
}
.formazione .icon.icon--difensore {
  background-image: url('../img/giocatori/formazione_campo_difensore.png');
}
.formazione .icon.icon--centrocampista {
  background-image: url('../img/giocatori/formazione_campo_centrocampista.png');
}
.formazione .icon.icon--attaccante {
  background-image: url('../img/giocatori/formazione_campo_attaccante.png');
}
.formazione .icon.icon--allenatore {
  background-image: url('../img/giocatori/formazione_campo_mister.png');
}
.formazione .icon.icon--portiere-vuoto {
  background-image: url('../img/giocatori/formazione_campo_portiere_vuoto.png');
}
.formazione .icon.icon--difensore-vuoto {
  background-image: url('../img/giocatori/formazione_campo_difensore_vuoto.png');
}
.formazione .icon.icon--centrocampista-vuoto {
  background-image: url('../img/giocatori/formazione_campo_centrocampista_vuoto.png');
}
.formazione .icon.icon--attaccante-vuoto {
  background-image: url('../img/giocatori/formazione_campo_attaccante_vuoto.png');
}
.formazione .icon.icon--allenatore-vuoto {
  background-image: url('../img/giocatori/formazione_campo_mister_vuoto.png');
}
.formazione .list, .popover--panchina-scegli-giocatore .list {
  background-image: url('../img/bench_drawer_noise.jpg');
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-grow: row wrap;
  flex-flow: row wrap;
  background-repeat: repeat;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 2px solid black;
}

/*.formazione ion-list:after {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}*/

.platform-android .popover .item {
  background-color: transparent;
}
.formazione .list .item {
  width: 20%;
  padding: 0;
  font-size: 10px;
  color: white;
  padding-top: 40px!important;
  display: block;
  line-height: 25px!important;
  height: auto;
  min-height: 0;
}

.formazione .list .item-accordion {
  background-position: center 14px;
}
.formazione .list .item-accordion:not(.giocatore-selezionato), .popover--panchina-scegli-giocatore .item:not(.giocatore-selezionato) {
  opacity: .5;
}
.formazione .list .icon--portiere {
  background-image: url('../img/giocatori/formazione_scegli_portiere.png');
}
.formazione .list .icon--difensore {
  background-image: url('../img/giocatori/formazione_scegli_difensore.png');
}
.formazione .list .icon--centrocampista {
  background-image: url('../img/giocatori/formazione_scegli_centrocampista.png');
}
.formazione .list .icon--attaccante {
  background-image: url('../img/giocatori/formazione_scegli_attaccante.png');
}
.formazione .list .icon--allenatore {
  background-image: url('../img/giocatori/formazione_scegli_mister.png');
}
a.icon.active::after {
  /*content: '';*/
  border: 2px solid black;
  position: absolute;
  bottom: 0;
}
/* Formazione - popover */
.popover * {
  background-color: transparent;
}
.popover {
  background: white;
  color: #666;
  width: 50px;
}
.popover ion-content {
  margin: 0;
}
.popover .item {
  padding: 0 0 12px;
  line-height: 28px;
  text-align: center;
}
.popover-arrow {
  display:none;
}
.popover--modulo .popover-arrow {
  left:10px;
}
/* Formazione - panchina */
.popover.popover--panchina {
  background-color: transparent!important;
  background-image: url('../img/formazione_panchina_bg.jpg');
  background-position: top right;
  background-size: cover;
  color: white;
  width: 64px;
  height: 100%;
  top: 44px!important;
  right: 0!important;
  margin: 0;
  padding: 0;
  border: 0!important;
  left: auto!important;
  border-radius: 0!important;
}
.popover--panchina .popover-arrow:after {
  content:none;
}
.popover.popover--panchina .item {
  color: white!important;
  height: 54px;
  font-size: 10px;
  line-height: 100px;
  background-size: auto 44px;
  background-position: top center;
}
.popover--panchina .list .icon--portiere {
  background-image: url('../img/giocatori/formazione_panchina_portiere.png');
}
.popover--panchina .list .icon--difensore {
  background-image: url('../img/giocatori/formazione_panchina_difensore.png');
}
.popover--panchina .list .icon--centrocampista {
  background-image: url('../img/giocatori/formazione_panchina_centrocampista.png');
}
.popover--panchina .list .icon--attaccante {
  background-image: url('../img/giocatori/formazione_panchina_attaccante.png');
}
.popover--panchina .list .icon--allenatore {
  background-image: url('../img/giocatori/formazione_panchina_mister.png');
}
.popover--panchina .list .icon--portiere-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_portiere_vuoto.png');
}
.popover--panchina .list .icon--difensore-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_difensore_vuoto.png');
}
.popover--panchina .list .icon--centrocampista-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_centrocampista_vuoto.png');
}
.popover--panchina .list .icon--attaccante-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_attaccante_vuoto.png');
}
.popover--panchina .list .icon--allenatore-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_mister_vuoto.png');
}
/* TODO: aggiungere inattivo (?) */
.popover--panchina-scegli-giocatore {
  left: 0!important;
  width: auto!important;
  height: 38px;
  opacity: 1;
  padding: 0;
  margin: -64px 0 0;
  right: 64px;  
  border-radius: 0!important;
}
.popover--panchina-scegli-giocatore .list {
  border-top: 0;
  border-bottom: 2px solid black;
}
.popover--panchina-scegli-giocatore .item {
  font-size: 10px;
  color: white;
  text-align: center;
  width: 25%;
  height: 54px;
  line-height: 75px;
  margin: 4px 0 0;
  padding: 0;
}
.popover--panchina-scegli-giocatore .popover-arrow {
  display: none;
}




/* Calendario / Opzioni Squadra / Scegli stemma */
.card--calendario-dettaglio {
  background-image: url('../img/calendario_gironi_row_bg.png');
}
.card--calendario-riepilogo {
  background-image: url('../img/calendario_gironi_riepilogo_bg.png');
  height: 102px;
}
.mcc .card.card--calendario-riepilogo {
  height: 103px;
}
.view--calendario-gironi .card-content {
  font-size: 16px;
}
.icon-star-left,
.icon-star-right {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.icon-star-left {
  background-image: url('../img/icone/calendario_gironi_coppa_left.png');
  float: left;
  margin: 18px 4px 0 0;
}
.icon-star-right {
  background-image: url('../img/icone/calendario_gironi_coppa_right.png');
  float: right;
  margin: 18px 0 0 4px;
}
.card--calendario-dettaglio {
  height: 57px;
}
.card--calendario-dettaglio .row {
  padding: 0 10px;
  color: #666;
}
.card--calendario-dettaglio .col {
  line-height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}
.card--calendario-dettaglio .number {
  font-size: 18px;
  color: #7a5636;
  overflow: visible;
}
.icon-star-left+span,
.icon-star-right+span {
  color:#444;
}

.button--formazione-nome-left, .button--formazione-nome-right {
  width: 78px;
  height: 42px;
  font-size: 14px;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.button--formazione-nome-left {
  background-image: url('../img/tabellino_gironi_squadra_left.png');
  text-align: left;
  padding-left: 3px;
}
.button--formazione-nome-right {
  background-image: url('../img/tabellino_gironi_squadra_right.png');
  text-align: right;
  padding-right: 3px;
}
.button--formazione-nome-left.active {
  background-image: url('../img/tabellino_gironi_squadra_left_active.png');
}
.button--formazione-nome-right.active {
  background-image: url('../img/tabellino_gironi_squadra_right_active.png');
}
/*.view--calendario-gironi .list, .scegli-stemma .list {
  padding: 10px;
}*/
.view--calendario-gironi .item, .scegli-stemma .item {
  background-image: url('../img/calendario_row_bg.png');
  padding: 0 10px 0 5px;
  height: 55px;
}
.view--calendario-gironi .item:first-child, .scegli-stemma .item:first-child {
  background-image: url('../img/calendario_row_first.png');
}
.view--calendario-gironi .item:last-child, .scegli-stemma .item:last-child {
  background-image: url('../img/calendario_row_last.png');
}
.scegli-stemma .item {
  line-height: 56px;
  color: #7a5636;
  text-transform: uppercase;
}
.scegli-stemma .item a {
  background: transparent!important;
  margin: 0!important;
  padding: 0!important;
}
.scegli-stemma img {
  width: auto;
  height: 44px;
  margin: 5px 5px 0 0!important;
  display: block;
  float: left;
}
.modal--news {
  background: rgba(255,255,255,.85);
}
.opzioni-squadra .card-title, .card--news .card-title, .card--message .card-title {
  background-image: url('../img/liste_testata1.png');
}
.opzioni-squadra .list, .card--news .card-content, .card--message .card-content  {
  background-image: url('../img/rosa_filtri_bg.png');
  background-position: bottom center;
  background-size: cover;
}
.card--message .card-content {
  font-size: 16px;
}
.card--news .card-content {
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}
.opzioni-squadra input {
  font-family: 'Open Sans', sans-serif!important;
  text-transform: none;
  border-bottom: 1px solid #999;
}
.opzioni-squadra img {
  height: 100px;
  width: auto;
}
.opzioni-squadra .col-66 {
  text-align: center;
  line-height: 100px;
}
.opzioni-squadra .col-66 .button {
  margin: 20px 0 0;
}



/* Calendario - dettaglio giornata */
.formazione.formazione-giornata .row {
  height: 110px;
}
.formazione.formazione-giornata .col {
  padding: 0;
}
.formazione.formazione-giornata .icon {
  line-height: 13px;
  padding-top: 50px;
  background-position: bottom center;
  height: 80px;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.formazione.formazione-giornata .icon:first-line {
  color: white;
  font-size: 10px;
}
.mcc .formazione.formazione-giornata .icon:first-line {
  color: #014066;
}
.formazione.formazione-giornata .icon.icon--portiere {
  background-image: url('../img/giocatori/tabellino_portiere.png');
}
.formazione.formazione-giornata .icon.icon--difensore {
  background-image: url('../img/giocatori/tabellino_difensore.png');
}
.formazione.formazione-giornata .icon.icon--centrocampista {
  background-image: url('../img/giocatori/tabellino_centrocampista.png');
}
.formazione.formazione-giornata .icon.icon--attaccante {
  background-image: url('../img/giocatori/tabellino_attaccante.png');
}
.formazione.formazione-giornata .icon.icon--allenatore {
  background-image: url('../img/giocatori/tabellino_mister.png');
}

/* Calendario - dettaglio giornata -dettaglio tabellino */
.card-dettaglio-tabellino-header {
  background-image: url('../img/bg_header_reparto_rosa.png');
  color: #7a5636;
  text-align: center;
  padding: 0 10px 0 44px;
  line-height: 44px;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.card-dettaglio-tabellino-header .icon {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
}
.mcc .card-dettaglio-tabellino-header .icon {
  background-size: 58px;
  background-position: top 4px center;
}
.card-dettaglio-tabellino-statistiche .list {
  padding: 0 10px;
}
.card-dettaglio-tabellino-statistiche .item {
  background-image: url('../img/calendario_row_bg.png');
  color: #7a5636;
  padding: 0 16px;
  line-height: 60px;
}
.card-dettaglio-tabellino-statistiche .item:first-child {
  background-image: url('../img/calendario_row_first.png');
}
.card-dettaglio-tabellino-statistiche .item:last-child {
  background-image: url('../img/calendario_row_last.png');
}
.card-dettaglio-tabellino-statistiche .item .col-10 {
  text-align: right;
}
.popover--panchina.panchina-dettaglio .item {
  color: white;
  background-position: bottom 10px right 10px;
}
.mcc .popover--panchina.panchina-dettaglio .item {
  background-position: center;
  background-size: auto 50px;
}
.popover--panchina.panchina-dettaglio .list .icon--portiere {
  background-image: url('../img/giocatori/tabellino_panchina_portiere_voto.png');
  background-position: bottom 10px right 16px;
}
.mcc .popover--panchina.panchina-dettaglio .list .icon--portiere {
    background-position: center;
}
.popover--panchina.panchina-dettaglio .list .icon--difensore {
  background-image: url('../img/giocatori/tabellino_panchina_difensore_voto.png');
}
.popover--panchina.panchina-dettaglio .list .icon--centrocampista {
  background-image: url('../img/giocatori/tabellino_panchina_centrocampista_voto.png');
}
.popover--panchina.panchina-dettaglio .list .icon--attaccante {
  background-image: url('../img/giocatori/tabellino_panchina_attaccante_voto.png');
}
.popover--panchina.panchina-dettaglio .list .icon--allenatore {
  background-image: url('../img/giocatori/tabellino_panchina_mister_voto.png');
}
.popover--panchina.panchina-dettaglio span {
  color: #333;
  display: block;
  position: absolute;
  bottom: 12px;
  left: 24px;
  line-height: 1;
  font-size: 14px;
}
.mcc .popover--panchina.panchina-dettaglio span {
  bottom: 15px;
  left: 30px;
  font-size: 12px;
  width: 20px;
}

/* Gestione rosa */
.card--rosa-riepilogo {
  background-image: url('../img/rosa_riepilogo_bg.png');
  height: 117px;
  margin-bottom: 0
}
.card--rosa-riepilogo .card-content {
  padding: 10px 14px;
  text-transform: uppercase;
  font-size: 18px;
}
.card--rosa-riepilogo .card-content li span {
  color: #7a5636;
}
.view--rosa .list .card .item.item-stable, .view--rosa .list .card .item.active {
  background-image: url('../img/bg_header_reparto_rosa.png');
  background-color: transparent;
  min-height: 53px;
  z-index: 10;
}
.view--rosa .list .card .item {
  padding: 0 10px;
  line-height: 50px;
}
/*.view--rosa .list .card .item.activated, .view--rosa .list .card .item.active {
  background: initial;
}*/
.view--rosa .list .card .icon:first-of-type {
  width: 28px;
  height: 44px;
}
.view--rosa .list .card .icon:last-of-type {
  width: 44px;
  height: 44px;
  margin-top: 4px;
}
.view--rosa .button--next{
  background-image: url('../img/rosa_disclosure_indicator.png');
}
.icon--portiere {
  background-image: url('../img/giocatori/formazione_scegli_portiere.png');
}
.icon--difensore {
  background-image: url('../img/giocatori/formazione_scegli_difensore.png');
}
.icon--centrocampista {
  background-image: url('../img/giocatori/formazione_scegli_centrocampista.png');
}
.icon--attaccante {
  background-image: url('../img/giocatori/formazione_scegli_attaccante.png');
}
.icon--allenatore {
  background-image: url('../img/giocatori/formazione_scegli_mister.png');
}
.icon--portiere-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_portiere_vuoto.png');
}
.icon--difensore-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_difensore_vuoto.png');
}
.icon--centrocampista-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_centrocampista_vuoto.png');
}
.icon--attaccante-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_attaccante_vuoto.png');
}
.icon--allenatore-vuoto {
  background-image: url('../img/giocatori/formazione_panchina_mister_vuoto.png');
}

.view--rosa .list .card .item-accordion {
  background-image: url('../img/bg_row_reparto_rosa_top_e_middle.png');
  background-size: cover;
  margin: 0 4px;
  padding: 0 14px;
  line-height: 55px;
  height: 54px!important;
  color: #8e8e8e;
  font-size: 14px;
}
.view--rosa .list .card .active + .item-accordion {
  margin-top: -5px;
}
.view--rosa .list .card .item-accordion:last-child {
  background-image: url('../img/bg_row_reparto_rosa_bottom.png');
  height: 54px;
}
.view--rosa .list .card .item-accordion div, .view--rosa .list .card .item-accordion button {
  margin: 0;
  padding: 0;
}
.view--rosa .list .card .item-accordion .item--rosa-aggiungi, .view--rosa .list .card .item-accordion .item--rosa-aggiungi button {
  line-height: 55px;
  height: 54px;
}
.view--rosa .list .card .item-accordion .item--rosa-giocatore {
  line-height: 22px;
  margin-top: 5px;
}
.item--rosa-elenco {
  background-image: url('../img/rosa_elenco_row.png');
  width: 300px;
  margin: 5px auto 0;
  height: 55px;
  padding: 0;
}
.item--rosa-elenco .row {
  padding: 0;
}
.item--rosa-elenco .row div div {
  line-height: 18px;
  padding: 5px 10px 0;
}

/* Rosa - filtri */

.view--rosa-filtri .card {
  background-image: url('../img/rosa_filtri_bg.png');
  width: 301px;
  height: 356px;
  text-transform: uppercase;
}
.view--rosa-filtri .card button {
  text-transform: none;
}
.view--rosa-filtri .item-content {
  background-color: transparent!important;
  background-repeat: no-repeat!important;
  background-position: top center!important;
  text-align: center;

  width: 50%;
  margin: 5px 0;
  padding: 0;
  height: 43px;
  line-height: 39px;
  float:left;

  background-size: 111px auto!important;
  height: 43px!important;
  margin: 0!important;
  line-height: 43px!important;
}
.view--rosa-filtri .item--rosa-filtri-destra .item-content{
  background-image: url('../img/rosa_filtri_button_destra.png')!important;
  color:#623524;
}
.view--rosa-filtri .item--rosa-filtri-destra  input:checked ~ .item-content{
  background-image: url('../img/rosa_filtri_button_destra_attivo.png')!important;
  color:#623524;
}
.view--rosa-filtri .item--rosa-filtri-sinistra .item-content{
  background-image: url('../img/rosa_filtri_button_sinistra.png')!important;
  color:#623524;
}
.view--rosa-filtri .item--rosa-filtri-sinistra input:checked ~ .item-content{
  background-image: url('../img/rosa_filtri_button_sinistra_attivo.png')!important;
  color:#623524;
}
.irs-bar {
  background: #7a5636;
  border: 1px solid #aaa;
}
.irs-from, .irs-to, .irs-single {
  color: #666;
  background: transparent;/* TODO: add background-image; */
}
.list--filtra-giocatori {
  background-image: url('../img/rosa_disclosure_indicator.png');
  background-position: right;
  background-size: 8px 15px;
  line-height: 44px;
  border-bottom: 1px solid #999;
  text-transform: none;
  text-align: center;
}
.seleziona-squadra {padding-left: 10px}
.seleziona-squadra .item-checkbox {
  padding: 10px 15px 10px 0;
  border-bottom: 1px solid #E2E2E2;
}
.seleziona-squadra .checkbox-icon {
  float:right;
}
.seleziona-squadra .checkbox-icon::before {
  content: none;
}
.seleziona-squadra .checkbox-icon::after {
  color: #387ef5;
  border-color: currentColor;
  border-width: 0 0 2px 2px;
  height: 7px;
}

.item-radio input:checked ~ .radio-icon {
  visibility: visible;
  border: 3px solid #387ef5;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 0;
  border-right: 0;
  width: 17px;
  height: 9px!important;
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 16px;
  right: 15px;
}

.list.list--filtra-giocatori {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  padding-right: 18px;
}
.list.list--filtra-giocatori span:not(:last-child)::after {
  content: ', ';
  margin: 0;
  padding: 0;
}




/* CLASSIFICHE */
.card--classifiche {
  
}
.card--classifiche .card-title{
  background-image: url('../img/classifica_classico_separatore_bg.png');
}
.card--classifiche .item {
  background-image: url('../img/classifica_classico_row_bg.png');
  padding: 0 16px;
  line-height: 35px;
  margin: 0;
  font-size: 15px;
}
.card--classifiche .item:last-child {
  background-image: url('../img/classifica_classico_row_bg_last.png');
}
.card--classifiche .item .col:last-child{
  text-align: right;
}
.card--classifiche-gironi {
  background-image: url('../img/classifica_gironi_row_bg.png');
  height: 77px;
  color: #444;
  font-size: 14px;
  line-height: 1;
  padding: 10px;
}
.card--classifiche-gironi .title {
  font-size: 17px;
  display: block;
  line-height: 20px;
}
.card--classifiche-gironi .numero {
  line-height: 48px;
  font-size: 22px;
}


  /* bg active */

  .view--rosa .list .card .item-accordion.activated,
  .view--rosa .list .card .item-accordion:focus,
  .view--rosa .list .card .item-accordion:active {
    background-image: url('../img/bg_row_reparto_rosa_top_e_middle_attivo.png');
  }
  .view--rosa .list .card .item-accordion:last-child.activated,
  .view--rosa .list .card .item-accordion:last-child:focus,
  .view--rosa .list .card .item-accordion:last-child:active {
    background-image: url('../img/bg_row_reparto_rosa_bottom_attivo.png');
  }
  .view--calendario-gironi .card.activated,
  .view--calendario-gironi .card:focus,
  .view--calendario-gironi .card:active,
  {
    background-image: url('../img/calendario_gironi_row_bg_attivo.png');
  }
  .view--calendario-gironi .item.activated,
  .view--calendario-gironi .item:focus,
  .view--calendario-gironi .item:active,
  .scegli-stemma .item.activated,
  .scegli-stemma .item:focus,
  .scegli-stemma .item:active {
    background-image: url('../img/calendario_row_bg_attivo.png');
  }
  .view--calendario-gironi .item:first-child.activated,
  .view--calendario-gironi .item:first-child:focus,
  .view--calendario-gironi .item:first-child:active,
  .scegli-stemma .item:first-child.activated,
  .scegli-stemma .item:first-child:focus,
  .scegli-stemma .item:first-child:active {
    background-image: url('../img/calendario_row_first_attivo.png');
  }
  .view--calendario-gironi .item:last-child.activated,
  .view--calendario-gironi .item:last-child:focus,
  .view--calendario-gironi .item:last-child:active,
  .scegli-stemma .item:last-child.activated,
  .scegli-stemma .item:last-child:focus,
  .scegli-stemma .item:last-child:active {
    background-image: url('../img/calendario_row_last_attivo.png');
  }
  .card--classifica.activated,
  .card--classifica:focus,
  .card--classifica:active {
    background-image: url('../img/dashboard_classifiche_bg_attivo.png');
  }
  .card--formazione.activated,
  .card--formazione:focus,
  .card--formazione:active {
    background-image: url('../img/dashboard_formazione_bg_attivo.png');
  }
  .card--rosa.activated,
  .card--rosa:focus,
  .card--rosa:active {
    background-image: url('../img/dashboard_rosa_bg_attivo.png');
  }
  .card--tabellino.activated,
  .card--tabellino:focus,
  .card--tabellino:active {
    background-image: url('../img/dashboard_tabellino_bg_attivo.png');
  }
  .item--rosa-elenco.activated,
  .item--rosa-elenco:focus,
  .item--rosa-elenco:active {
    background-image: url('../img/rosa_elenco_row_attivo.png');
  }


  /* buttons active */
  .button--facebook-login.activated,
  .button--facebook-login:focus,
  .button--facebook-login:active {
    background-image: url('../img/login_button_fb_attivo.png');
  }
  .button--login.activated,
  .button--login:focus,
  .button--login:active {
    background-image: url('../img/login_loginbutton_attivo.png');
  }
  .button--register.activated,
  .button--register:focus,
  .button--register:active {
    background-image: url('../img/registrazione_button_registrati_attivo.png');
  }
  .button--opzioni-squadra.activated,
  .button--opzioni-squadra:focus,
  .button--opzioni-squadra:active,
  .button--torneo-classico.activated,
  .button--torneo-classico:focus,
  .button--torneo-classico:active {
    background-image: url('../img/scegligioco_bottone1_attivo.png');
  }
  .button--torneo-a-gironi.activated,
  .button--torneo-a-gironi:focus,
  .button--torneo-a-gironi:active {
    background-image: url('../img/scegligioco_bottone2_attivo.png');
  }
  .button--back.activated,
  .button--back:focus,
  .button--back:active,
  .button.back-button.activated,
  .button.back-button:focus,
  .button.back-button:active {
    background-image: url('../img/topbar_button_back_attivo.png')!important;
  }
  .button--cancel.activated,
  .button--cancel:focus,
  .button.button-icon.ion-close.activated,
  .button.button-icon.ion-close:focus,
  .button--cancel:active,
  .button.button-icon.ion-close:active {
    background-image: url('../img/topbar_button_cancel_attivo.png');
  }
  .button--cancel-right.activated,
  .button--cancel-right:focus,
  .button--cancel-right:active {
    background-image: url('../img/topbar_button_cancel_right_attivo.png');
  }
  .button--filtra.activated,
  .button--filtra:focus,
  .button.button-icon.button-clear.ion-ios-settings-strong.activated,
  .button.button-icon.button-clear.ion-ios-settings-strong:focus,
  .button--filtra:active,
  .button.button-icon.button-clear.ion-ios-settings-strong:active {
    background-image: url('../img/topbar_button_filtra_attivo.png');
  }
  .button--menu.activated,
  .button--menu:focus,
  .button.button-icon.ion-navicon.activated,
  .button.button-icon.ion-navicon:focus,
  .button--menu:active,
  .button.button-icon.ion-navicon:active {
    background-image: url('../img/topbar_button_menu_attivo.png');
  }
  .button--panchina.activated,
  .button--panchina:focus,
  .button.button-icon.button-clear.ion-android-walk.activated,
  .button.button-icon.button-clear.ion-android-walk:focus,
  .button--panchina:active,
  .button.button-icon.button-clear.ion-android-walk:active {
    background-image: url('../img/topbar_button_panchina_attivo.png');
  }
  .button--save.activated,
  .button--save:focus,
  .button.button-icon.ion-checkmark.activated,
  .button.button-icon.ion-checkmark:focus,
  .button--save:active,
  .button.button-icon.ion-checkmark:active {
    background-image: url('../img/topbar_button_save_attivo.png');
  }
  .button--save-right.activated,
  .button--save-right:focus,
  .button--save-right:active {
    background-image: url('../img/topbar_button_save_right_attivo.png');
  }


/* topbar ios */
/*.platform-ios.platform-cordova .bar-header .title,
.platform-ios.platform-cordova .bar-header .topbar-logo {
  top: 20px;
}
.platform-ios.platform-cordova .popover.popover--panchina {
  top: 64px!important;
}*/
.popover--panchina-scegli-giocatore {
  margin-top: -44px;
}
.formazione .list, .popover--panchina-scegli-giocatore .list {
  display: block;
  overflow: hidden;
}
.formazione .list .item, .popover--panchina-scegli-giocatore .item {
  float: left;
}
.formazione .list .item {
  padding-top: 38px!important;
  line-height: 1!important;
  height: 54px!important;
  background-position: top center!important;
  background-size: 32px!important;
}
.popover--panchina-scegli-giocatore .item {
  background-size: 32px;
  background-position: top center;
}

/* Lega Amici */
.lega-amici .button-bar .button.button--generic {
  line-height: 40px;
  height: 20px;
  padding: 0;
}
.lega-amici table {
  width: 100%;
}
.lega-amici table td {
  padding: 0;
  vertical-align: top;
}
.lega-amici table input, 
.lega-amici table select {
  background: rgb(248, 248, 248);
  border: 1px solid #ccc!important;
  border-radius: 4px;
  padding: 0 4px!important;
  margin: 0 0 4px 4px;
  line-height: 30px;
  height: 30px;
  color: black;
  font-size: 15px;
}
.lega-amici table td + td, 
.lega-amici table input, 
.lega-amici table select {
  width: 120px;
}
.lega-amici .amici table td + td,
.lega-amici .amici table input {
  width: 260px;
}
.lega-amici input.ng-invalid.ng-dirty, .lega-amici select.ng-invalid.ng-dirty {
    border-color:red!important;
}
.lega-amici .readonly input, .lega-amici .readonly select,
.lega-amici input[disabled], .lega-amici select[disabled] {
  background: transparent;
  border-color: transparent!important;
  pointer-events: none;
  -webkit-appearance: initial;
}

/* MCC */
.mcc .button {
  color: white!important;;
}
.mcc .text-primary,
.mcc h2.card-title,
.mcc .item-divider,
.mcc .view--home .card,
.mcc .card--calendario-dettaglio .number,
.mcc .scegli-stemma .item,
.mcc .card-dettaglio-tabellino-header,
.mcc .card-dettaglio-tabellino-statistiche .item,
.mcc .card--rosa-riepilogo .card-content li span,
.mcc .irs-bar,
.mcc .button--modulo {
  color: #006eb2!important;
}
.mcc .card--rosa-riepilogo h2.card-title,
.mcc .card--calendario-riepilogo h2.card-title,
.mcc .button {
  color: white!important;
}
.mcc .irs-bar {
  background-color: #006eb2;
}
.mcc .scegli-gioco {
  /*background-image: url('../img/Default.jpg');
  padding-top: 270px;*/
  font-size: 0;
}
.mcc .icona-gioco {
  width: 260px;
  height: 195px;
}
.mcc .button--torneo-classico, .mcc .button--torneo-a-gironi {
  margin: 0 auto;
}
.mcc .button--torneo-classico, .mcc .button--torneo-classico:after, .mcc .button--torneo-a-gironi, .mcc .button--torneo-a-gironi:after {
  width: 130px;
  height: 97px;
}
.mcc .formazione .row {
  height: 18.5%;
}
.mcc .formazione .icon {
  color: #014066;
}
.mcc .formazione .list .item {
  background-position: center!important;
  background-size: 54px!important;
  color: #006eb2;
}
.mcc .formazione .icon.icon--allenatore, .mcc .formazione .icon.icon--allenatore-vuoto {
  margin-right: 0;
  text-align: center;
}
.mcc .button--modulo {
  color: #006eb2!important;
}
/*.mcc .popover.popover--panchina {
  background: #ccc!important
}*/
.view--rosa-filtri .item-content {
  color: white!important;
}
.mcc .popover--panchina .list .item {
  color: #006eb2!important;
}
.mcc .formazione .list, .mcc .popover--panchina-scegli-giocatore .list {
  background: #e6e6e6!important;
}
.mcc .popover.popover--panchina-scegli-giocatore {
  margin-top:-54px;
}
.mcc .formazione .list .item-accordion:not(.giocatore-selezionato),
.mcc .popover--panchina-scegli-giocatore .item:not(.giocatore-selezionato) {
  color: #777!important;  
}
.mcc .popover--panchina-scegli-giocatore .item {
  color: #006eb2!important;
  background-size: 54px!important;
}
.mcc ion-side-menu.menu.menu-left ion-header-bar.bar-stable.bar.bar-header::after {
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
}
/*.mcc.platform-ios ion-side-menu.menu.menu-left ion-header-bar.bar-stable.bar.bar-header::after {
  top: 16px;
}*/
.mcc .button.button--opzioni-squadra, .mcc .button.button--generic {
  background-image: url('../img/login_loginbutton.png');
  font-size: 17px;
}
.mcc .button.button--opzioni-squadra.activated,
.mcc .button.button--generic.activated,
.mcc .button.button--opzioni-squadra:focus,
.mcc .button.button--generic:focus,
.mcc .button.button--opzioni-squadra:active,
.mcc .button.button--generic:active {
  background-image: url('../img/login_loginbutton_attivo.png');
}

/* preload */

body:after {
  content: '';
  preload: true;
  position: absolute;
  height: 1px;
  left: 1px;
  left: -10px;
  top: -10px;
  background-image: url('../img/topbar_bg.png'),
      url('../img/bg_start.jpg'),
      url('../img/login_button_fb_active.png'),
      url('../img/liste_testata1.png'),
      url('../img/freccia_disclosure.png'),
      url('../img/button_rosa_vendi.png'),
      url('../img/Default.jpg'),
      url('../img/topbar_bg.png'),
      url('../img/topbar_bg.png'),
      url('../img/topbar_button_menu.png'),
      url('../img/topbar_button_save.png'),
      url('../img/topbar_button_save_right.png'),
      url('../img/topbar_button_panchina.png'),
      url('../img/topbar_button_back.png'),
      url('../img/topbar_button_filtra.png'),
      url('../img/topbar_button_cancel.png'),
      url('../img/topbar_button_cancel_right.png'),
      url('../img/topbar_logo.png'),
      url('../img/menu_full_bg.jpg'),
      url('../img/menu_header_bg.jpg'),
      url('../img/menu_header_togglearrow_down.png'),
      url('../img/menu_teamselect_bg.jpg'),
      url('../img/menu_cell_bg.jpg'),
      url('../img/menu_teamselect_cell_bg.jpg'),
      url('../img/icone/menu_ico_home.png'),
      url('../img/icone/menu_ico_rosa.png'),
      url('../img/icone/menu_ico_formazione.png'),
      url('../img/icone/menu_ico_calendario.png'),
      url('../img/icone/menu_ico_classifiche.png'),
      url('../img/icone/menu_ico_opzioni.png'),
      url('../img/icone/menu_ico_regolamento.png'),
      url('../img/icone/menu_ico_playoff.png'),
      url('../img/icone/menu_teamselect_ico_nuovasquadra.png'),
      url('../img/icone/menu_teamselect_ico_accedi.png'),
      url('../img/icone/menu_teamselect_ico_logout.png'),
      url('../img/menu_teamselect_groupcell_bg.jpg'),
      url('../img/bg_start.jpg'),
      url('../img/scegligioco_loghi.png'),
      url('../img/scegligioco_bottone1.png'),
      url('../img/scegligioco_bottone1_scritta.png'),
      url('../img/scegligioco_bottone2.png'),
      url('../img/scegligioco_bottone2_scritta.png'),
      url('../img/registrazione_button_registrati.png'),
      url('../img/login_boxaccesso_bg.png'),
      url('../img/login_loginbutton.png'),
      url('../img/registrazione_button_registrati.png'),
      url('../img/login_button_fb.png'),
      url('../img/dashboard_formazione_bg.png'),
      url('../img/dashboard_tabellino_bg.png'),
      url('../img/dashboard_rosa_bg.png'),
      url('../img/dashboard_classifiche_bg.png'),
      url('../img/bottone_modulo.png'),
      url('../img/bottone_salva_formazione.png'),
      url('../img/bottone_annulla_formazione.png'),
      url('../img/giocatori/formazione_campo_portiere.png'),
      url('../img/giocatori/formazione_campo_difensore.png'),
      url('../img/giocatori/formazione_campo_centrocampista.png'),
      url('../img/giocatori/formazione_campo_attaccante.png'),
      url('../img/giocatori/formazione_campo_mister.png'),
      url('../img/giocatori/formazione_campo_portiere_vuoto.png'),
      url('../img/giocatori/formazione_campo_difensore_vuoto.png'),
      url('../img/giocatori/formazione_campo_centrocampista_vuoto.png'),
      url('../img/giocatori/formazione_campo_attaccante_vuoto.png'),
      url('../img/giocatori/formazione_campo_mister_vuoto.png'),
      url('../img/bench_drawer_noise.jpg'),
      url('../img/giocatori/formazione_scegli_portiere.png'),
      url('../img/giocatori/formazione_scegli_difensore.png'),
      url('../img/giocatori/formazione_scegli_centrocampista.png'),
      url('../img/giocatori/formazione_scegli_attaccante.png'),
      url('../img/giocatori/formazione_scegli_mister.png'),
      url('../img/formazione_panchina_bg.jpg'),
      url('../img/giocatori/formazione_panchina_portiere.png'),
      url('../img/giocatori/formazione_panchina_difensore.png'),
      url('../img/giocatori/formazione_panchina_centrocampista.png'),
      url('../img/giocatori/formazione_panchina_attaccante.png'),
      url('../img/giocatori/formazione_panchina_mister.png'),
      url('../img/giocatori/formazione_panchina_portiere_vuoto.png'),
      url('../img/giocatori/formazione_panchina_difensore_vuoto.png'),
      url('../img/giocatori/formazione_panchina_centrocampista_vuoto.png'),
      url('../img/giocatori/formazione_panchina_attaccante_vuoto.png'),
      url('../img/giocatori/formazione_panchina_mister_vuoto.png'),
      url('../img/calendario_gironi_row_bg.png'),
      url('../img/calendario_gironi_riepilogo_bg.png'),
      url('../img/icone/calendario_gironi_coppa_left.png'),
      url('../img/icone/calendario_gironi_coppa_right.png'),
      url('../img/calendario_row_bg.png'),
      url('../img/calendario_row_first.png'),
      url('../img/calendario_row_last.png'),
      url('../img/liste_testata1.png'),
      url('../img/rosa_filtri_bg.png'),
      url('../img/giocatori/tabellino_portiere.png'),
      url('../img/giocatori/tabellino_difensore.png'),
      url('../img/giocatori/tabellino_centrocampista.png'),
      url('../img/giocatori/tabellino_attaccante.png'),
      url('../img/giocatori/tabellino_mister.png'),
      url('../img/bg_header_reparto_rosa.png'),
      url('../img/calendario_row_bg.png'),
      url('../img/calendario_row_first.png'),
      url('../img/calendario_row_last.png'),
      url('../img/giocatori/tabellino_panchina_portiere_voto.png'),
      url('../img/giocatori/tabellino_panchina_difensore_voto.png'),
      url('../img/giocatori/tabellino_panchina_centrocampista_voto.png'),
      url('../img/giocatori/tabellino_panchina_attaccante_voto.png'),
      url('../img/giocatori/tabellino_panchina_mister_voto.png'),
      url('../img/rosa_riepilogo_bg.png'),
      url('../img/bg_header_reparto_rosa.png'),
      url('../img/rosa_disclosure_indicator.png'),
      url('../img/giocatori/formazione_scegli_portiere.png'),
      url('../img/giocatori/formazione_scegli_difensore.png'),
      url('../img/giocatori/formazione_scegli_centrocampista.png'),
      url('../img/giocatori/formazione_scegli_attaccante.png'),
      url('../img/giocatori/formazione_scegli_mister.png'),
      url('../img/giocatori/formazione_panchina_portiere_vuoto.png'),
      url('../img/giocatori/formazione_panchina_difensore_vuoto.png'),
      url('../img/giocatori/formazione_panchina_centrocampista_vuoto.png'),
      url('../img/giocatori/formazione_panchina_attaccante_vuoto.png'),
      url('../img/giocatori/formazione_panchina_mister_vuoto.png'),
      url('../img/bg_row_reparto_rosa_top_e_middle.png'),
      url('../img/bg_row_reparto_rosa_bottom.png'),
      url('../img/rosa_elenco_row.png'),
      url('../img/rosa_filtri_bg.png'),
      url('../img/rosa_filtri_button_destra.png'),
      url('../img/rosa_filtri_button_destra_attivo.png'),
      url('../img/rosa_filtri_button_sinistra.png'),
      url('../img/rosa_filtri_button_sinistra_attivo.png'),
      url('../img/rosa_disclosure_indicator.png'),
      url('../img/classifica_classico_separatore_bg.png'),
      url('../img/classifica_classico_row_bg.png'),
      url('../img/classifica_classico_row_bg_last.png'),
      url('../img/classifica_gironi_row_bg.png'),
      url('../img/bg_row_reparto_rosa_top_e_middle_attivo.png'),
      url('../img/bg_row_reparto_rosa_bottom_attivo.png'),
      url('../img/calendario_gironi_row_bg_attivo.png'),
      url('../img/calendario_row_bg_attivo.png'),
      url('../img/calendario_row_first_attivo.png'),
      url('../img/calendario_row_last_attivo.png'),
      url('../img/dashboard_classifiche_bg_attivo.png'),
      url('../img/dashboard_formazione_bg_attivo.png'),
      url('../img/dashboard_rosa_bg_attivo.png'),
      url('../img/dashboard_tabellino_bg_attivo.png'),
      url('../img/rosa_elenco_row_attivo.png'),
      url('../img/login_button_fb_attivo.png'),
      url('../img/login_loginbutton_attivo.png'),
      url('../img/registrazione_button_registrati_attivo.png'),
      url('../img/scegligioco_bottone1_attivo.png'),
      url('../img/scegligioco_bottone2_attivo.png'),
      url('../img/topbar_button_back_attivo.png'),
      url('../img/topbar_button_cancel_attivo.png'),
      url('../img/topbar_button_cancel_right_attivo.png'),
      url('../img/topbar_button_filtra_attivo.png'),
      url('../img/topbar_button_menu_attivo.png'),
      url('../img/topbar_button_panchina_attivo.png'),
      url('../img/topbar_button_save_attivo.png'),
      url('../img/topbar_button_save_right_attivo.png');
}




/* legacy */
.giocatore-selezionato {
	/*background-color: rgba(187, 187, 187, 1) !important;*/
}

.registrazione-input {
  text-align: right;
}

.registrazione-toggle {
  background: #FCFCFC;
}



/*MODAL SLIDE IN RIGHT
 */
.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

[nav-view-transition="ios"] [nav-view="entering"], [nav-view-transition="ios"] [nav-view="leaving"] {
  transition-duration: 500ms;
}

/*ACCORDION!!
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/*FORM ERROR STYLING*/
/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

